a.ka-Button, a.ka-Button:link {
    padding: 0px 5px 0px 10px;
    margin: 2px auto;
    cursor: pointer;
    position: relative;
    color: #222;
    line-height: 24px;
    font-weight: normal;
    
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    
    margin-right: 3px;
    margin-left: 4px;
    
    text-decoration: none;
    outline: 0;

    display: inline-block;
    
    background-image: url(../images/button-bg.png);
    background-repeat: no-repeat;
    outline: 0;
}

a.ka-Button:hover {
    background-position: left -27px;
    color: white;
}

a.ka-Button span, a.ka-Button:link span {
    position: absolute;
    right: -4px;
    top: 0px;
    height: 24px;
    width: 6px;
    background-image: url(../images/button-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}


a.ka-Button:hover {
    background-position: left -27px;
}
a.ka-Button:hover span {
    background-position: right -27px;
}

a.ka-Button:active span {
    background-position: right -53px;
}
a.ka-Button:active {
    background-position: left -53px;
    color: white;
}

a.ka-Button-deactivate,
a.ka-Button-deactivate:link,
a.ka-Button-deactivate:active,
a.ka-Button-deactivate:hover {
    background-position: left top;
    cursor: default;
    color: gray;
}


a.ka-Button-deactivate span,
a.ka-Button-deactivate:link span,
a.ka-Button-deactivate:active span,
a.ka-Button-deactivate:hover span {
    background-position: right top;
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background-color: #aaa;
}

.ka-Button img {
    position: relative;
    top: 4px;	
}
