.ka-field-main {
    padding: 3px 5px 3px 5px;
}


tr.ka-field-main td {
    border-bottom: 1px dotted #ddd;
    vertical-align: top;
}

.ka-field-tdtitle {
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 5px;
    color: #333;
}

.ka-field-main-small {
    width: 210px;
    float: left;
    padding: 5px;
}

h2.ka-field-headline {
    font-size: 12px;
    margin: 2px;   
}

.ka-field-main-small .ka-field-title div.desc {
    width: 200px;
}

.ka-field-tdtitle div.desc {
    color: #999;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ka-field-main-small .ka-field-title div.title {
    width: 187px;
}

.ka-field-main-small .ka-field-field input.text,
.ka-field-main-small .ka-field-field textarea {
    width: 175px;
}

.ka-field-main-small .ka-field-field select.ka-field {
    width: 179px;
}

.ka-field-title {
    position: relative;
}

div.ka-field-main div.desc {
    padding: 3px 0px 0px 20px;
    max-width: 325px;
    color: #999;
}

tr.ka-field-main td div.desc {
    padding-left: 2px;
}

.ka-field-title div.title {
    border-bottom: 1px solid #ddd;
    padding: 1px 1px 1px 10px;
    width: 312px;
    font-size: 11px;
}

.ka-field-main .ka-field-field {
    margin: 5px 2px 2px 20px;
    position: relative;
}

.ka-field-field select.ka-field,
.ka-field-field textarea.ka-field,
.ka-field-field input.text {
    width: 296px;
}

select,
textarea,
input.text {
    border: 1px solid #bbb;
    color: #444;
    font-size: 11px;
    -moz-border-radius: 3px;
    background-color: white;
}

textarea,
input.text {
    padding: 4px;
}

input.text {
    width: 150px;
}

input.text,
textarea {
    -moz-border-radius: 5px;
    box-shadow: 0px 1px 0px #f9f9f9;
    border: 1px solid #bbb;

    background: #f2f2f2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(top,  #f2f2f2 0%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */

}

input.text-inactive {

    color: #333;
    background: #f1f1f1;

}


input.text:focus,
textarea:focus {
    border: 1px solid #888;
}

.ka-field-field select.ka-field {
    width: 304px;
}

.ka-field-emptyIcon {
    position: absolute;
    top: 6px;
    left: -20px;
    margin-left: 2px;
}


input.ka-field-dateTime {
    padding-left: 18px;
    background-image: url(../images/icons/calendar.png);
    background-repeat: no-repeat;
    background-position: 2px 3px;
}

.ka-field-main-small input.text.multiUpload-firstInput {
	width: 120px;
}


.kwindow-win-buttonWrapper.multiUpload-uploadBtnDiv {
	height: 14px;
    margin-top: 5px;
	margin-left: 3px;
}

.multiUpload-fileName {
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 15px 0px 8px 16px;
}

.multiUpload-fileContainer {
	margin-bottom: 15px;
}


.multiUpload-delBtn {
	padding-left: 5px;
}



.ka-field-layoutelement-tinytoolbar {
    position: absolute;
    top: 0px;
    height: 60px;
    left: 260px;
}

.ka-field-array .ka-field textarea,
.ka-field-array .ka-field select,
.ka-field-array .ka-field input.text {
    width: 85%;
}

.ka-field-textlist {
    border: 1px solid silver;
    background-color: white;
    padding: 1px;
    min-height: 8px;
    overflow: hidden;
    padding-right: 15px;
    -moz-border-radius: 3px;
    position: relative;
}

.ka-field-textlist-item {
    position: relative;
    -moz-border-radius: 3px;
    padding: 2px 3px;
    padding-right: 16px;
    float: left;
    cursor: pointer;
    margin: 3px 2px;
    color: white;
    background-color: #399bc7;
}


.ka-field-textlist-item a {
    background-color: #444;
    color: white;
    position: absolute;
    right: 2px;
    font-size: 10px;
    padding: 0px 3px;
    height: 12px;
    top: 2px;
    -moz-border-radius: 12px;
}

.ka-field-textlist-item a:hover {
    background-color: gray;
}

.ka-field-textlist-item-active {
    background-color: #4bbdda;
}

.ka-field-textlist input {
    padding: 1px;
    border: 0px;
    height: 19px;
    float: left;
    background-color: transparent;
}

.ka-field-textlist-clear {
    clear: left;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border: 1px solid silver;
    width: 15px;
    padding-left: 1px;
    padding-top: 6px;
    cursor: pointer;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    text-align: center;
}

.ka-field-textlist-clear:hover {
    background-color: #eee;
}

.ka-field-textlist-searchbox {
    height: 140px;
    position: absolute;
    min-width: 150px;
    border: 4px solid #555;
    box-shadow: 0px 0px 3px #777;
    background-color: #eee;
    -moz-border-radius: 4px;
}

.ka-field-textlist-searchbox-head {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 25px;
    border-bottom: 1px solid silver;
    background-color: #eee;
}

.ka-field-textlist-searchbox-head-c {
    position: absolute;
    left: 3px;
    top: 5px;
    right: 5px;
    height: 22px;
}

.ka-field-textlist-searchbox-head input {
    padding: 0px;
    border: 0px;
    background-color: #eee;
    height: 19px;
}

.ka-field-textlist-searchbox-body {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}


.ka-field-textlist-searchbox-body a,
.ka-field-textlist-searchbox-body a:link {
    display: block;
    padding: 5px 15px;
    cursor: default;
}


.ka-field-textlist-searchbox-body a.active,
.ka-field-textlist-searchbox-body a.active:link {
    background-color: #399bc7;
    color: white;
}

.ka-field-textlist-searchbox-body a.active:hover {
    background-color: #4bbdda;
}

.ka-field-textlist-searchbox-body a:hover {
    background-color: #ddd;
}

.ka-field-array-column-desc {
    color: #aaa;
    font-weight: normal;
    font-size: 10px;
}