.ka-field-main {
    padding: 3px 5px 3px 5px;
    width: 330px;
}


tr.ka-field-main td {
    border-bottom: 1px dotted #ddd;
    vertical-align: top;
}

.ka-field-tdtitle {
    padding-top: 4px;
    padding-left: 2px;
    color: #333;
}

.ka-field-main-small {
    width: 210px;
    float: left;
    padding: 5px;
}

h2.ka-field-headline {
    font-size: 12px;
    margin: 2px;   
}

.ka-field-main-small .ka-field-title div.desc {
    width: 200px;
}

.ka-field-main-small .ka-field-title div.title {
    width: 187px;
}

.ka-field-main-small .ka-field-field input.text,
.ka-field-main-small .ka-field-field textarea {
    width: 175px;
}

.ka-field-main-small .ka-field-field select {
    width: 179px;
}

.ka-field-title {
}

div.ka-field-main div.desc {
    padding: 3px 0px 0px 20px;
    max-width: 325px;
    color: #999;
}

tr.ka-field-main td div.desc {
    padding-left: 2px;
}

.ka-field-title div.title {
    border-bottom: 1px solid #ddd;
    padding: 1px 1px 1px 10px;
    width: 312px;
    font-size: 11px;
}

.ka-field-main .ka-field-field {
    margin: 5px 2px 2px 20px;
    position: relative;
}

.ka-field-field select,
.ka-field-field textarea,
.ka-field-field input.text {
    width: 296px;
}

select,
textarea,
input.text {
    border: 1px solid #bbb;
    padding: 5px;
    color: #444;
    font-size: 11px;
    -moz-border-radius: 3px;
    background-color: white;
}

input.text {
    width: 150px;	
}

.ka-field-field select {
    width: 304px;
}

.ka-field-field img.emptyIcon {
    position: absolute;
    top: 1px;
    left: -20px;
    margin-left: 2px;
}


input.ka-field-dateTime {
    padding-left: 18px;
    background-image: url(../images/icons/calendar.png);
    background-repeat: no-repeat;
}

.ka-field-main-small input.text.multiUpload-firstInput {
	width: 120px;
}


.kwindow-win-buttonWrapper.multiUpload-uploadBtnDiv {
	height: 14px;
    margin-top: 5px;
	margin-left: 3px;
}

.multiUpload-fileName {
	border-bottom: 1px solid #DDDDDD;
	font-weight: bold;
	padding: 15px 0px 8px 16px;
}

.multiUpload-fileContainer {
	margin-bottom: 15px;
}


.multiUpload-delBtn {
	padding-left: 5px;
}



.ka-field-layoutelement-tinytoolbar {
    position: absolute;
    top: 0px;
    height: 60px;
    left: 260px;
}

.ka-field-array .ka-field-main,
.ka-field-array .ka-field-field {
    padding: 0px;
    margin: 0px;
}

.ka-field-array .ka-field-field textarea,
.ka-field-array .ka-field-field select,
.ka-field-array .ka-field-field input {
    width: auto;
}

.ka-field-textlist {
    border: 1px solid silver;
    background-color: white;
    padding: 1px;
    min-height: 8px;
    overflow: hidden;
    padding-right: 15px;
    -moz-border-radius: 3px;
    position: relative;
}

.ka-field-textlist-item {
    position: relative;
    -moz-border-radius: 3px;
    padding: 2px 3px;
    padding-right: 16px;
    float: left;
    cursor: pointer;
    margin: 3px 2px;
    color: white;
    background-color: #399bc7;
}


.ka-field-textlist-item a {
    background-color: #444;
    color: white;
    position: absolute;
    right: 2px;
    font-size: 10px;
    padding: 0px 3px;
    height: 12px;
    line-heihgt: 10px;
    top: 2px;
    -moz-border-radius: 12px;
}

.ka-field-textlist-item a:hover {
    background-color: gray;
}

.ka-field-textlist-item-active {
    background-color: #4bbdda;
}

.ka-field-textlist input {
    padding: 1px;
    border: 0px;
    height: 19px;
    float: left;
    background-color: transparent;
}

.ka-field-textlist-clear {
    clear: left;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border: 1px solid silver;
    width: 15px;
    padding-left: 1px;
    padding-top: 6px;
    cursor: pointer;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    text-align: center;
}

.ka-field-textlist-clear:hover {
    background-color: #eee;
}

.ka-field-textlist-searchbox {
    height: 140px;
    position: absolute;
    min-width: 150px;
    border: 4px solid #444;
    box-shadow: 0px 0px 3px #777;
    background-color: white;
    -moz-border-radius: 4px;
}

.ka-field-textlist-searchbox-head {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 25px;
    border-bottom: 1px solid silver;
    background-color: #eee;
}

.ka-field-textlist-searchbox-head-c {
    position: absolute;
    left: 3px;
    top: 5px;
    right: 5px;
    height: 22px;
}

.ka-field-textlist-searchbox-head input {
    padding: 0px;
    border: 0px;
    background-color: #eee;
    height: 19px;
}

.ka-field-textlist-searchbox-body {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}


.ka-field-textlist-searchbox-body a,
.ka-field-textlist-searchbox-body a:link {
    display: block;
    padding: 5px 15px;
    cursor: default;
}


.ka-field-textlist-searchbox-body a.active,
.ka-field-textlist-searchbox-body a.active:link {
    background-color: #399bc7;
    color: white;
}

.ka-field-textlist-searchbox-body a.active:hover {
    background-color: #4bbdda;
}

.ka-field-textlist-searchbox-body a:hover {
    background-color: #eee;
}


