.ka-login-middle {
    font-family: Verdana, sans;
    margin: auto;
    width: 325px;
    height: 185px;
    margin-top: 200px;
    text-align: left;
    position: relative;

}
.ka-login-bg-pattern,
.ka-login-spot-green,
.ka-login-spot-red,
.ka-login-spot-blue,
.ka-login-bg-butterfly1,
.ka-login-bg-blue,
.ka-login-bg-butterflysmall1,
.ka-login-bg-green {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.ka-login-bg-pattern {
    background-image: url(../images/login-background.gif);
}

.ka-login-bg-butterfly1 {
    background-image: url(../images/login-butterflybig-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    bottom: -23%;
    left: -15%;
}

.ka-login-bg-butterflysmall1 {
    background-image: url(../images/login-butterflysmall-1.png);
    background-position: center 130px;
    background-repeat: no-repeat;
}

.ka-login-bg-blue {
    background-image: url(../images/login-bg-blue.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.ka-login-spot-blue {
    background-image: url(../images/login-spot-blue.png);
    background-repeat: no-repeat;
    top: -10%;
    background-position: center top;
}

.ka-login-spot-red {
    background-image: url(../images/login-spot-red.png);
    background-repeat: no-repeat;
    top: -10%;
    background-position: center top;
}

.ka-login-spot-green {
    background-image: url(../images/login-spot-green.png);
    background-repeat: no-repeat;
    top: -10%;
    background-position: center top;
}


.ka-loginHead-middler {
    width: 50px;
    position: relative;
    margin: auto;
}


.ka-loginHead-middler img {
    position: absolute;
    top: 25px;
    right: -310px;
}

.ka-login-logo {
    position: absolute;
    top: -170px;
    left: -100px;
}

.ka-login {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;

    bottom: 0px;
    /* border-top: 5px solid #f15a29; */

    background-color: #151717;

    text-align: center;
    z-index: 200101;
    color: white;
}

.ka-login .ka-Select-box-title {
    color: #333;
}


.ka-login .ka-Select-box,
.ka-login .ka-Checkbox {
    border: 1px solid #333;
    box-shadow: 0px 1px 0px #666;
}


.ka-login .ka-Select-chooser {
    box-shadow: -1px 1px 0px #666;
}

.ka-Select-chooser.ka-login-select-dark {
    border: 1px solid #333;
    border-top: 0px;
}

.ka-login-icon {
    font-size: 18px;
    font-weight: bold;
    color: #ddd;
    text-shadow: 0px 1px 1px black;
}

.ka-login-middleBg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 437px;
    height: 185px;
}


.ka-ai-loader-con {
    height: 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    left: 25px;
    right: 29px;
    bottom: 68px;
    position: absolute;
    border: 1px solid #c7c7c7;
    background-color: #f8f8f8;
}

.ka-ai-loader-txt {
    height: 4px;
    bottom: 88px;
    right: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.ka-login-middle-form {
    position: absolute;
    left: 9px;
    top: 0px;
    width: 325px;
    height: 100px;
}

.ka-login-circlebtn {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 2px;
    top: 10px;
    background-image: url(../images/login-button.png);
}

.ka-login-circlebtn:hover {
    background-position: left -66px;
    cursor: pointer;
}

.ka-login-circlebtn:active {
    background-position: left -131px;
    cursor: pointer;
}

.ka-login-circlebtn img {
    position: absolute;
    top: 12px;
    left: 8px;
}

body .ka-login .ka-Select-box.ka-login-select-login {
    left: 0px;
    width: 276px;
    top: 105px;
    height: 25px;
    color: #222;
}

body .ka-login .ka-Select-box.ka-login-select-login .ka-Select-box-title {
    font-size: 11px;
    font-weight: bold;
    line-height: 25px;
}

body .ka-login .ka-Select-box.ka-login-select-login .ka-Select-arrow {
    top: 6px;
}

.ka-login-desktopMode {
    position: absolute;
    left: 0px;
    top: 145px;
    width: 294px;
    height: 28px;
    background-position: left -84px;
    background-image: url(../images/login-input-images.png);
}

.ka-login-desktopMode-text {
    position: absolute;
    left: 8px;
    font-weight: bold;
    font-size: 11px;
    top: 7px;
}

body .ka-login .ka-login-checkbox-login {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 16px;
}

body .ka-login .ka-login-checkbox-login .ka-Checkbox-knob {
    height: 16px;
}

body .ka-login .ka-login-checkbox-login .ka-Checkbox-text-off,
body .ka-login .ka-login-checkbox-login .ka-Checkbox-text-on {
    font-size: 12px;
    top: 1px;
}

body .ka-login .ka-login-checkbox-login .ka-Checkbox-text-off {
    right: 11px;
}

body .ka-login .ka-login-checkbox-login.ka-Checkbox-on {
    background: rgb(27,80,111); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFiNTA2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDc5YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(27,80,111,1) 0%, rgba(48,121,166,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,80,111,1)), color-stop(100%,rgba(48,121,166,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(27,80,111,1) 0%,rgba(48,121,166,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(27,80,111,1) 0%,rgba(48,121,166,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(27,80,111,1) 0%,rgba(48,121,166,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(27,80,111,1) 0%,rgba(48,121,166,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b506f', endColorstr='#3079a6',GradientType=0 ); /* IE6-8 */
}

.ka-login-middle-form .entries {
    float: left;
    width: 220px;
    padding: 0px;
}

.ka-login-input-passwd {
    background-image: url(../images/login-input-images.png);
    background-position: left -42px;
    top: 46px;
}

.ka-login-input-username {
    background-image: url(../images/login-input-images.png);
    background-position: left top;
    top: 0px;
}

.ka-login-input-passwd,
.ka-login-input-username {
    position: absolute;

    border: 0px;
    padding: 5px;
    color: white;
    font-size: 14px;

    padding-left: 15px;
    padding-right: 35px;

    font-weight: bold;
    height: 29px;
    width: 244px;
    left: 0px;

    background-color: transparent;

    /*
    border-bottom: 1px solid #444;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    box-shadow: inset 0 0 5px #181818;

    box-shadow: inset 0 0 5px #222;
    border-bottom: 1px solid #2d2d2d;
    */

}

.ka-ai-loginLoadingBar {
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #181818;
    background-color: #222;
    border-bottom: 1px solid #444;
    height: 84px;
    top: 0.9px;
    left: 0px;
    width: 294px;
    overflow: hidden;
}

.ka-ai-loginLoadingBarInside {
    position: absolute;
    left: 0px;
    top: 1px;
    height: 82px;

    -webkit-border-bottom-left: 5px;
    -webkit-border-top-left: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;

    background: #0f2a42; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMmE0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjM2NTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #0f2a42 0%, #123651 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f2a42), color-stop(100%,#123651)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0f2a42 0%,#123651 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0f2a42 0%,#123651 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0f2a42 0%,#123651 100%); /* IE10+ */
    background: linear-gradient(top,  #0f2a42 0%,#123651 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2a42', endColorstr='#123651',GradientType=0 ); /* IE6-8 */

}

.ka-ai-loginLoadingBarText {

    position: absolute;
    left: 100px;
    color: white;
    top: 90px;
    width: 250px;
}

.ka-login-input-passwd:focus,
.ka-login-input-username:focus {
}


.ka-login-middle .loginMessage {
    position: absolute;
    bottom: -30px;
    left: 105px;

    height: 25px;
    text-align: right;
    font-weight: bold;
    line-height: 15px;
    font-size: 11px;
    font-family: Verdana, Sans;

    text-shadow: 0px 1px 1px #333;
}

.ka-login-middle-form .loginLangSelection {
    position: absolute;
    right: 12px;
    top: 115px;
    width: 120px;
    padding: 3px 2px 2px 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ka-login-middle-form a.ka-Button,
.ka-login-middle-form a.ka-Button:link {
    padding: 0px 15px 1px 20px;
    position: absolute;
    left: 12px;
    font-weight: bold;
    top: 92px;
    cursor: pointer;
    font-size: 13px;
}

.ka-login-middle-form .entries input {
    width: 260px;
    padding-left: 5px;
    border: 0px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #444;
    border: 1px solid #888;
    padding: 2px;
    padding-top: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #f6f6f6;
    outline: none;
/*    -moz-border-radius: 4px;
    background-image: url(../images/input-login-bg.jpg);*/
}


/* load backend */
.ka-ai-loader {
    position: absolute;
    bottom: 0px;
    height: 30px;
    left: 0px;
    background-color: #888;
    z-index: 131313124;
}
