.ka-list-main table,
.ka-list-head table {
    table-layout: fixed;
    width: 100%;
}

.ka-list-head {
    position: absolute;
    top: 0px;
    /*width: 100%;*/
    left: 0px;
    right: 16px;
    height: 21px;
    border-bottom: 1px solid silver;
}

.ka-list-main {
    position: absolute;
    top: 22px;
    width: 100%;
    bottom: 30px;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ka-list-head > table th {
    line-height: 17px;
}

.ka-list-head table th:hover {
    background-color: #c7c7c7;
}

.ka-list-head > table th,
.ka-list-main > table td {
    cursor: default;
    border-left: 1px solid #ddd;
    padding-left: 3px;
    font-weight: normal;
}

.ka-list-main > table tr td {
    color: #555;
}


.ka-list-main > table tr td.edit img {
    cursor: pointer;
}

.ka-list-main > table tr.active td {
    background-color: #112a6a;
    color: white;
}

.ka-list-main > table tr.one td {
    background-color: #f5f5f5;
}

.ka-list-main table tr.two td {
    background-color: #fafafa;
}

.ka-list-bottom {
    position: absolute;
    bottom: -1px;
    height: 30px;
    width: 100%;
    background-color: #aaa;
    border-top: 1px solid #999;
    
    
    background-image: -webkit-gradient(linear, left top, left bottom, #bdbcbc, to(#9c9b9b)); 
    background-image: -webkit-linear-gradient(top, #bdbcbc, #9c9b9b); 
    background-image:    -moz-linear-gradient(top, #bdbcbc, #9c9b9b); 
    background-image:     -ms-linear-gradient(top, #bdbcbc, #9c9b9b); 
    background-image:      -o-linear-gradient(top, #bdbcbc, #9c9b9b); 
    background-image:         linear-gradient(top, #bdbcbc, #9c9b9b);
    
    
}

.ka-list-combine-left-itemcount {
    position: absolute;
    right: 5px;
    top: 6px;
    color: silver;
    font-size: 11px;
}

.ka-list-combine-searchicon {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}


.ka-list-combine-searchicon img {
    position: relative;
    top: 4px;
}


.ka-list-combine-searchicon-active,
.ka-list-combine-searchicon:hover {
    background-color: #f8f8f8;
}

.ka-list-combine-searchicon-active {
    bottom: -1px;
}

.ka-list-combine-userfilter {
    margin: 0px 4px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 4px;
    background-color: #f1f1f1;
}

.ka-list-combine-userfilter a,
.ka-list-combine-userfilter a:link {
    padding: 1px 5px;
    line-height: 14px;
}

.ka-list-combine-search {
    -moz-border-radius: 6px;
    border: 0px;
    position: relative;
    background-color: #eee;
    color: silver;
    padding-left: 3px;
    top: -1px;
    left: -1px;
    width: 117px;
    height: 21px;
}


.ka-list-combine-userfilter a img,
.ka-list-combine-userfilter a:link img {
    position: relative;
    top: 1px;    
}

.ka-list-combine-userfilter a.active,
.ka-list-combine-userfilter a.active:link {
    background-color: gray;
    color: white;
}


.ka-list-bottom .actionBar {
    position: absolute;
    line-height: 15px;
    top: 5px;
    left: 5px;
}

.ka-list-bottom .actionBar img {
    cursor: pointer;
}

.ka-list-bottom .navi {
    text-align: right;
    position: absolute;
    width: 150px;
    right: 5px;
    top: 5px;
    line-height: 15px;
}

.ka-list-bottom .navi img {
    margin: 0px 1px 0px 1px;
}

.ka-list-bottom .navi input {
    margin: 0px 1px 0px 1px;
    width: 32px;
    height: 13px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ddd;
    position: relative;
    top: -3px;
}

a.ka-list-search-button,
a.ka-list-search-button:link {
    position: absolute;
    display: block;
    padding: 0px 5px 0px 5px;
    right: 150px;
    top: -1px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}


a.ka-list-search-button:hover,
a.ka-list-search-button-active,
a.ka-list-search-button-active:link {
    background-color: #bbb;
    color: white;
}

.ka-list-search-pane {
    background-color: #bbb;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 28px;
    left: 0px;
    width: 100%;
    overflow: auto;
    height: 1px;
}


.ka-list-combine-item {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 6px;
    color: gray;
}

.ka-list-combine-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    color: #444;
    font-size: 14px;
}

.ka-list-combine-item.active h2 {
    text-shadow: 0px 1px 0px black;
    color: white;
}
    
.ka-list-combine-item:hover {
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, #eeeeee, to(#cccccc)); 
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc); 
    background-image:    -moz-linear-gradient(top, #eeeeee, #cccccc); 
    background-image:     -ms-linear-gradient(top, #eeeeee, #cccccc); 
    background-image:      -o-linear-gradient(top, #eeeeee, #cccccc); 
    background-image:         linear-gradient(top, #eeeeee, #cccccc);
}

.ka-list-combine-item.active,
.ka-list-combine-item.active:hover {
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, #3e9bcb, to(#2f799e)); 
    background-image: -webkit-linear-gradient(top, #3e9bcb, #2f799e); 
    background-image:    -moz-linear-gradient(top, #3e9bcb, #2f799e); 
    background-image:     -ms-linear-gradient(top, #3e9bcb, #2f799e); 
    background-image:      -o-linear-gradient(top, #3e9bcb, #2f799e); 
    background-image:         linear-gradient(top, #3e9bcb, #2f799e);
    color: white;
}

.ka-list-combine-splititem {
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, #f6f6f6, to(#ebebeb)); 
    background-image: -webkit-linear-gradient(top, #f6f6f6, #ebebeb); 
    background-image:    -moz-linear-gradient(top, #f6f6f6, #ebebeb); 
    background-image:     -ms-linear-gradient(top, #f6f6f6, #ebebeb); 
    background-image:      -o-linear-gradient(top, #f6f6f6, #ebebeb); 
    background-image:         linear-gradient(top, #f6f6f6, #ebebeb);
    border-bottom: 1px solid silver;
    padding: 4px 6px;
    color: gray; 
}

.ka-list-combine-left-top {
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, #f1f1f1, to(#e2e2e2)); 
    background-image: -webkit-linear-gradient(top, #f1f1f1, #e2e2e2); 
    background-image:    -moz-linear-gradient(top, #f1f1f1, #e2e2e2); 
    background-image:     -ms-linear-gradient(top, #f1f1f1, #e2e2e2); 
    background-image:      -o-linear-gradient(top, #f1f1f1, #e2e2e2); 
    background-image:         linear-gradient(top, #f1f1f1, #e2e2e2);
    color: #444;
}

.ka-list-combine-itemloader:hover {
    background-image: none;
    background-color: transparent;
}


.ka-list-combine-itemloader {
    padding: 10px;
    color: silver;
    text-align: center;
    cursor: default;
}

.ka-list-combine-searchpane {
    position: absolute; 
    background-color: #f8f8f8; 
    left: 0px;
    top: 25px; 
    height: 0px; 
    right: 0px;
    overflow: auto;
    background-image: url(../images/ka-list-combine-searchpane-bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}


.ka-list-combine-searchpane .ka-field-field select,
.ka-list-combine-searchpane .ka-field-field textarea, 
.ka-list-combine-searchpane .ka-field-field input.text {
    width: 140px;
}

.ka-list-combine-searchpane .ka-field-field {
    margin: 2px 2px 2px 15px;
}

.ka-list-combine-searchpane .ka-field-tdtitle {
    padding-top: 7px;
}


/*

.ka-list-table {
    padding: 0px;
    margin: 0px;
}

.ka-list-table thead th {
    height: 25px;
    border-bottom: 1px solid silver;
}

.ka-list-table td {
    background-color: white;
}

.ka-list-table tbody td {
    padding: 1px 23px 1px 2px;
    height: 18px;
    border-bottom: 1px solid #ddd;
}

.ka-list-table th.edit,
.ka-list-table td.edit {
    padding-right: 2px;
    width: 5px;
}

.ka-list-actionBar {
    position: absolute;
    background-color: white;
    bottom: 0px;
    height: 25px;
    line-height: 25px;
    padding-left: 2px;
    left: 0px;
    right: 0px;
    border-top: 1px solid gray;
}
*/
