.ka-propertyTable-showDefinition {
    position: absolute;
    top: 6px;
    left: 220px;
    display: none;
}

.ka-propertyTable-hide-definition .ka-propertyTable-showDefinition {
    display: block;
}


.ka-propertyTable-showDefinition-show .ka-propertyTable-definition {
    display: block;
}

.ka-propertyTable-showDefinition-show-sub > .ka-propertyTable-definition {
    display: block;
}


.ka-propertyTable-children .ka-propertyTable-item {
    border: 1px solid silver;
    margin: 4px;
}

.ka-propertyTable-item {
    background-color: #E8E8E8;
    padding-bottom: 5px;
}

.ka-propertyTable-item-header {
    border-bottom: 1px solid silver;
    background-color: #E1E1E1;
    padding: 3px;
}

.ka-propertyTable-children {
    padding-left: 20px;
}