.ka-Select-box {

    margin: 0px 4px;

    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    cursor: pointer;
    position: relative;
    padding-right: 15px;

    overflow: hidden;
    height: 21px;
    display: inline-block;
    line-height: 14px;

    top: -1px;

    vertical-align: top;
    width: 100px;

    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, #fafafa, to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #fafafa, #e8e8e8);
    background-image:    -moz-linear-gradient(top, #fafafa, #e8e8e8);
    background-image:     -ms-linear-gradient(top, #fafafa, #e8e8e8);
    background-image:      -o-linear-gradient(top, #fafafa, #e8e8e8);
    background-image:         linear-gradient(top, #fafafa, #e8e8e8);

    text-align: left;
    box-shadow: 0px 1px 0px #f8f8f8;
}

.ka-Select-box:hover {
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, #f2f2f2, to(#d5d5d5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image:    -moz-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image:     -ms-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image:      -o-linear-gradient(top, #f2f2f2, #d5d5d5);
    background-image:         linear-gradient(top, #f2f2f2, #d5d5d5);
}


.kwindow-win-titleGroups .ka-Select-box {
    border: 1px solid #999;
    box-shadow: 0px 1px 0px #bbb;
}

.ka-Select-box:active {
    border: 1px solid #aaa;
}

.kwindow-win-titleGroups .ka-Select-box:active {
    border: 1px solid #888;
}

.ka-Select-box-title {
    position: absolute;
    left: 6px;
    top: 0px;
    right: 16px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.ka-Select-arrow {
    position: absolute;
    padding-top: 1px;
    padding-right: 0px;
    top: 3px;
    right: 3px;
    width: 12px;
}

.ka-Select-chooser {

    border: 1px solid #bbb;

    border-top: 0px;

    padding-top: 2px;
    position: absolute;
    min-width: 50px;
    min-height: 15px;
    max-height: 500px;
    max-width: 400px;
    overflow: auto;
    background-color: #dddddd;
    margin-top: -1px;
    /*box-shadow: -1px 1px 1px #888;*/

    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;

    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ka-Select-chooser.ka-Select-darker {
    border: 1px solid #999;
    border-top: 0px;
}

.ka-Select-borderline {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    border-top: 1px solid #bbb;
}

.ka-Select-chooser.ka-Select-darker .ka-Select-borderline {
    border-top: 1px solid #999;
}


.ka-Select-box-open,
.ka-Select-box-open:hover {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, #f2f2f2, to(#dddddd));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #dddddd);
    background-image:    -moz-linear-gradient(top, #f2f2f2, #dddddd);
    background-image:     -ms-linear-gradient(top, #f2f2f2, #dddddd);
    background-image:      -o-linear-gradient(top, #f2f2f2, #dddddd);
    background-image:         linear-gradient(top, #f2f2f2, #dddddd);
}

.ka-Select-box-open.ka-Select-withBorderLine,
.ka-Select-box-open.ka-Select-withBorderLine:hover {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ka-Select-chooser div.group {
    color: #333;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
}

.ka-Select-chooser a,
.ka-Select-chooser a:link {
    display: block;
    padding: 5px 10px;
    font-size: 10px;
    padding-left: 23px;
    color: #222;
    text-decoration: none;
}

.ka-Select-chooser a:hover {
    background-color: #f9f9f9;
}

a.ka-Select-separator,
a.ka-Select-separator:link {
    padding: 2px 5px;
    font-weight: bold;
    cursor: default;
}

.ka-Select-chooser a.ka-Select-separator:hover {
    background-color: transparent;
}


.ka-Select-chooser a.active,
.ka-Select-chooser a.active:link {
    background-image: url(../images/icons/tick.png);
    background-repeat: no-repeat;
    background-position: 3px 1px;
}
