.kwindow-win-tabPane-pane {
	-moz-border-radius: 5px;
	border: 1px solid #aaa;
	padding: 10px;
	margin:0px 5px;
    background-color: #eee;
}

.kwindow-win-tabPane .kwindow-win-tabWrapperLast {
	border-right: 0px;
}

.kwindow-win-tabPane .kwindow-win-tabGroup {
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    border-top:1px solid #888;	
}

.ka-tabPane-pane {
    display: none;
    position: relative;
}

.ka-tabPane-full > .kwindow-win-tabPane-pane > .ka-tabPane-pane,
.ka-tabPane-full {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 4px;
    border: 0px;
    -moz-border-radius: 0px;
    margin: 0px;
}

.ka-tabPane-full > .ka-tabGroup-small {
    position: relative;
    top: 1px;
}


.ka-tabPane-full > .kwindow-win-tabPane-pane > .ka-tabPane-pane {
    overflow: auto;
}

.ka-tabPane-full > .kwindow-win-tabPane-pane {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 32px;
}

.ka-tabPane-tabsInWindowHeader > .kwindow-win-tabPane-pane {
    top: 0px;
    border: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
}