.DS_Store
app/config/config.cache.php
app/config/config.xml
vendor
.idea
composer.lock
src/Core/Resources/public/codemirror
src/Core/Resources/public/tinymce
app/cache
web/
!web/index.php
!web/install.php