language: php

php:
  - 5.4
  - 5.5

env:
  - TEMP=/var/tmp/ DB_TYPE=mysql DB_USER=root
  - TEMP=/var/tmp/ DB_TYPE=pgsql DB_USER=postgres

before_script:

  # DB
  - sh -c "if [ '$DB_TYPE' = 'mysql' ]; then mysql -e 'DROP DATABASE IF EXISTS test; CREATE DATABASE test;'; fi"
  - sh -c "if [ '$DB_TYPE' = 'pgsql' ]; then psql -c 'CREATE DATABASE test;' -U postgres; fi"

  # Composer
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install

  # File access
  - sudo chmod -R g-w .
  - ls -al
  - ls -al app

  # Start local server
  - php -S 127.0.0.1:8000 -t web/ &

script:
  - phpunit

after_script:
  # Kill local server
  - killall php

after_failure:
  - tail -n 50 /var/log/syslog
  - cat /var/log/apache2/*
  - cat /etc/apache2/sites-available/*
  - cat /etc/apache2/sites-enabled/*