<phpunit bootstrap="test/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false">


    <testsuites>
        <testsuite name="Kryn.cms">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
</phpunit>