.kwindow-win-buttonGroup {
    margin-left: 15px;
    float: left;
    overflow: hidden;

    -moz-border-radius: 5px;

    white-space: nowrap;
    position: relative;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}


.ka-admin a.kwindow-win-buttonWrapper,
.ka-admin a.kwindow-win-buttonWrapper:link {
    border-left: 1px solid #bdbdbd;

    cursor: default ;
    line-height: 20px;
    min-height: 20px;
    position: relative;
    float: left;
    left: -1px;
    display: block;
    text-decoration: none;
    padding: 3px 7px 3px 23px;
    background-position: center center;
    color: #818181;
}

.kwindow-win-buttonWrapper span:before {
    font-size: 14px;
    text-shadow: 0px 1px 0px #f1f1f1;
}

.kwindow-win-buttonWrapperFirst {
}

.kwindow-win-buttonWrapperLast {
    border-right: 0px;
}

.kwindow-win-buttonWrapper span {
    position: absolute;
    display: block;
    left: 7px;
    top: 3px;
    height: 16px;
    vertical-align: middle;
}


.kwindow-win-buttonWrapper span img {
    line-height: 16px;
    vertical-align: middle;
}

.ka-admin a.kwindow-win-buttonWrapper:hover {
    color: #222;
}

.kwindow-win-buttonWrapper:active + .kwindow-win-buttonWrapper,
.kwindow-win-buttonGroup .buttonHover + .kwindow-win-buttonWrapper {
    border-left: 0px;
}

.ka-admin a.kwindow-win-buttonWrapper:active,
.ka-admin a.kwindow-win-buttonWrapper:link.buttonHover {

    color: #000;

}

