.kwindow-win-buttonGroup {
    margin-left: 15px;
    display: inline-block;
    overflow: hidden;

    -moz-border-radius: 5px;

    white-space: nowrap;
    position: relative;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}


.ka-admin a.ka-buttonGroup-item,
.ka-admin a.ka-buttonGroup-item:link {
    border-left: 1px solid #bdbdbd;

    cursor: default ;
    line-height: 20px;
    min-height: 11px;
    position: relative;
    left: -1px;
    display: inline-block;
    text-decoration: none;
    padding: 3px 7px;
    background-position: center center;
    color: #818181;
}

.ka-buttonGroup-item-with-icon:before {
    font-size: 14px;
    text-shadow: 0px 1px 0px #f1f1f1;
    padding-right: 5px;
    line-height: 14px;
    vertical-align: text-top;
}

.ka-buttonGroup-itemFirst {
}

.ka-buttonGroup-itemLast {
    border-right: 0px;
}

.ka-buttonGroup-item img {
    vertical-align: middle;
}


.ka-buttonGroup-item span img {
    line-height: 16px;
    vertical-align: middle;
}

.ka-admin a.ka-buttonGroup-item:hover {
    color: #222;
}

.ka-buttonGroup-item:active + .ka-buttonGroup-item,
.kwindow-win-buttonGroup .buttonHover + .ka-buttonGroup-item {
    border-left: 0px;
}

.ka-admin a.ka-buttonGroup-item:active,
.ka-admin a.ka-buttonGroup-item:link.buttonHover {

    color: #000;

}

