a.ka-Button, a.ka-Button:link {

    white-space: nowrap;
    padding: 0px 8px;
    margin: 0px auto;

    cursor: default;
    color: #444;
    line-height: 22px;
    font-weight: normal;
    
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    
    margin-right: 3px;
    margin-left: 3px;
    
    text-decoration: none;
    outline: 0;

    display: inline-block;

    border: 1px solid #a4a4a4;

    background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0JSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #f8f8f8 4%, #efefef 9%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f8f8f8), color-stop(9%,#efefef), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */

}

.ka-Button:before {
    padding-right: 5px;
    padding-left: 0px;
    position: relative;
    top: 1px;
}

a.ka-Button:hover {
    border: 1px solid #888;
    color: black;
}

a.ka-Button:focus {
    border: 1px solid #3E9BCB;
    color: black;
}


a.ka-Button:active,
a.ka-Button-pressed,
a.ka-Button-pressed:link,
a.ka-Button-pressed:hover,
a.ka-Button-pressed:active {

    border: 1px solid #888;
    color: black;

    background: #d6d6d6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d6d6d6 5%, #d3d3d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#d6d6d6), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d6d6d6 5%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d6d6d6 5%,#d3d3d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d6d6d6 5%,#d3d3d3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d6d6d6 5%,#d3d3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-8 */

}

a.ka-Button span {
    display: none;
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background-color: #aaa;
}

.ka-Button img {
    position: relative;
    top: 3px;
    left: -3px;
}


a.ka-Button-red, a.ka-Button-red:link {
    color: white;
    border: 1px solid #AF1C1A;
    background: #b79292; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2I3OTI5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjZGQ2MTYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IyMzkzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #b79292 2%, #dd6161 8%, #b23935 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#b79292), color-stop(8%,#dd6161), color-stop(100%,#b23935)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b79292 2%,#dd6161 8%,#b23935 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b79292 2%,#dd6161 8%,#b23935 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b79292 2%,#dd6161 8%,#b23935 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b79292 2%,#dd6161 8%,#b23935 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b79292', endColorstr='#b23935',GradientType=0 ); /* IE6-8 */

}

a.ka-Button-red:hover {
    color: #eee;
    border: 1px solid #AD1E1B;
}

a.ka-Button-red:active {
    background: #b54d4d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2I1NGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjY2UyOTI5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FmMTcxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #b54d4d 2%, #ce2929 8%, #af1715 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#b54d4d), color-stop(8%,#ce2929), color-stop(100%,#af1715)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b54d4d 2%,#ce2929 8%,#af1715 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b54d4d 2%,#ce2929 8%,#af1715 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b54d4d 2%,#ce2929 8%,#af1715 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b54d4d 2%,#ce2929 8%,#af1715 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b54d4d', endColorstr='#af1715',GradientType=0 ); /* IE6-8 */
}

a.ka-Button-blue,
a.ka-Button-blue:link {

    color: white;
    border: 1px solid #116D9B;

    background: #76a9bf; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzc2YTliZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjM2U5YmNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJmNzk5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #76a9bf 2%, #3e9bcb 8%, #2f799e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#76a9bf), color-stop(8%,#3e9bcb), color-stop(100%,#2f799e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #76a9bf 2%,#3e9bcb 8%,#2f799e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #76a9bf 2%,#3e9bcb 8%,#2f799e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #76a9bf 2%,#3e9bcb 8%,#2f799e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #76a9bf 2%,#3e9bcb 8%,#2f799e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a9bf', endColorstr='#2f799e',GradientType=0 ); /* IE6-8 */

}

a.ka-Button-blue:active {
    background: #1579af; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzE1NzlhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjglIiBzdG9wLWNvbG9yPSIjMDk3ZWI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExNmQ5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #1579af 2%, #097eb5 8%, #116d9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#1579af), color-stop(8%,#097eb5), color-stop(100%,#116d9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1579af 2%,#097eb5 8%,#116d9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1579af 2%,#097eb5 8%,#116d9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1579af 2%,#097eb5 8%,#116d9b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1579af 2%,#097eb5 8%,#116d9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1579af', endColorstr='#116d9b',GradientType=0 ); /* IE6-8 */

}

a.ka-Button-blue:hover {
    color: #ddd;
    border: 1px solid #005082;
}


a.ka-Button-deactivate,
a.ka-Button-deactivate:link,
a.ka-Button-deactivate:active,
a.ka-Button-deactivate:hover {
    cursor: default;
    color: gray;

    border: 1px solid #a4a4a4;

    background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0JSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjZWZlZmVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #f8f8f8 4%, #efefef 9%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#f8f8f8), color-stop(9%,#efefef), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8f8f8 4%,#efefef 9%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
}