.kwindow-win {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.kwindow-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border: 0px;
    background-color: #eee;
}

.ka-window-extend-head .kwindow-win-title {
    height: 60px;
}

.ka-window-extend-head .kwindow-win-content {
    top: 62px;
}

.kwindow-border-inline {
    position: relative;
}

.kwindow-win-inline {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.kwindow-border-shadow {
    box-shadow: 0 8px 3em #888;
}

.kwindow-shadow-bottom {
    position: absolute;
    bottom: -41px;
    background-image: url(../../images/kwindow-shadow-bottom.png);
    background-repeat: repeat-x;
    left: 31px;
    height: 41px;
    right: 30px;
}

.kwindow-shadow-left {
    position: absolute;
    bottom: 25px;
    left: -31px;
    width: 31px;
    background-image: url(../../images/kwindow-shadow-left.png);
    background-repeat: repeat-y;
    top: 70px;
}

.kwindow-shadow-right {
    position: absolute;
    bottom: 25px;
    right: -31px;
    width: 31px;
    background-image: url(../../images/kwindow-shadow-right.png);
    background-repeat: repeat-y;
    top: 70px;
}

.kwindow-shadow-top-right,
.kwindow-shadow-top-left {
    position: absolute;
    background-image: url(../../images/kwindow-shadow-top-lr.png);
    background-repeat: no-repeat;
    top: 0px;
    width: 31px;
    height: 70px;
}

.kwindow-shadow-top-left {
    left: -31px;
}

.kwindow-shadow-top-right {
    right: -31px;
    background-position: -35px 0px;
}

.kwindow-shadow-bottom-left,
.kwindow-shadow-bottom-right {
    position: absolute;
    bottom: -41px;
    background-image: url(../../images/kwindow-shadow-bottom-lr.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 66px;
}

.kwindow-shadow-bottom-left {
    left: -39px;
}

.kwindow-shadow-bottom-right {
    right: -40px;
    background-position: -119px 0px;
}

.kwindow-win-trans {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #aaa;
}

.kwindow-win-printer {
    position: absolute;
    left: 5px;
    top: 2px;
    cursor: pointer;
}

.kwindow-win-title,
.kwindow-win-title-inaktive {

    min-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    color: #555;
    border-top: 1px solid #EBEBEB;

    /*border-top: 1px solid #DDD; produces a strange rendering bug in chrome. wait for the new interface design*/
    border-bottom: 1px solid #A3A3A3;

    background: none;
    background-color: #e2e7eb;

    position: relative;
    cursor: default;
    text-shadow: 0 1px 0 #CECECE;
}

.ka-kwindow-inFront {
    color: #111;
}

.kwindow-win-buttonBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    line-height: 28px;

    background: #dbdbdb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWI1YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #dbdbdb 0%, #d8d8d8 47%, #b5b5b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(47%,#d8d8d8), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* IE10+ */
    background: linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
    border-top: 1px solid silver;

    text-align: right;
    padding-right: 9px;
}


/* make line-height working even if there are only block-inline events. */
.kwindow-win-buttonBar::before {
    content: "\a0";
}

.kwindow-win-titleGroups {
      display: block;
      position: absolute;
      top: 29px;
      left: 0px;
      right: 0px;
      min-height: 27px;
      height: 27px;
  }

.kwindow-win-title-inaktive {
    color: #555;
}

.kwindow-win-content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 24px;
    bottom: 0px;
    background-color: #eee;
    overflow: auto;
    text-align: left;
}

.kwindow-win-inline .kwindow-win-content {
    top: 0px;
}

.kwindow-win-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    display: none;
    height: 18px;
    bottom: 0px;
    /*background-color: #d4d0c8;*/
    background-image: url(../../images/win-bottom-resize.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-top: 1px solid #777;
    padding-left: 6px;
    color: #444;
    line-height: 18px;
}

.kwindow-win-bottom-maximized {
    background-image: none;
}

.kwindow-iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.kwindow-win-titleBar {
    position: absolute;
    top: 7px;
    right: 3px;
    height: 16px;
}

.kwindow-win-titleBarIcon {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    float: left;
    background-repeat: no-repeat;
}

.kwindow-win-titleBarIcon:hover {
    color: #eee;
}


.kwindow-win-titleBarIcon:active {
    color: #ddd;
}

.ka-kwindow-prompt {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 230px;
    background-color: #eee;
    box-shadow: 0px 0px 30px #444;
}


.ka-kwindow-prompt input.text {
    width: 220px;
}

.ka-kwindow-prompt-text {
    padding: 5px;
    padding-bottom: 40px;
}

.ka-kwindow-prompt-text-abs {
    position: absolute;
    top: 0px;
    padding-top: 5px;
    overflow: auto;
    overflow: auto;
    left: 0px;
    right: 0px;
    bottom: 38px;
    min-height: 50px;
    padding-bottom: 5px;
}

.ka-kwindow-prompt-bottom {
    position: absolute;
    text-align: right;
    left: 0px;
    right: 10px;
    bottom: 8px;
    height: 25px;
}

.kwindow-win-content h3,
h3.kryn-headline {
    margin: 0px;
    cursor: default;
    font-weight: normal;
    padding-left: 1px;
    color: #555;
    border-bottom: 1px solid silver;
    height: 19px;
    line-height: 19px;
    font-size: 11px;
    padding: 0px 3px;
    -moz-border-radius: 4px;

    background: #EEE;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238, 238, 238, 1)), color-stop(100%,rgba(229, 229, 229, 1)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,rgba(229, 229, 229, 1) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,rgba(229, 229, 229, 1) 100%);
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,rgba(229, 229, 229, 1) 100%);
    background: linear-gradient(top, rgba(238, 238, 238, 1) 0%,rgba(229, 229, 229, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e5e5e5',GradientType=0 );

}

.ka-kwindow-content-withBottomBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 31px;
    overflow: auto;
}

.ka-kwindow-titlepath {
    position: relative;
    top: 1px;
    color: #5e5e5e;
    text-shadow: 0 1px 0 #F8F8F8;
}

.ka-kwindow-titlepath img {
    position: relative;
    top: 3px;
    margin: 0px 5px;
}

.ka-kwindow-loader-content {
    width: 200px;
    margin: auto;
    height: 30px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    font-size: 18px;
    font-weight: bold;
    padding: 25px;
    text-shadow: 0px 1px 0px black;
    color: white;

    box-shadow: 0px 0px 4px #AAA;

    position: relative;

    background: #3a76aa; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-image: -webkit-gradient(linear, left top, left bottom, #3e9bcb, to(#2f799e));
    background-image: -webkit-linear-gradient(top, #3e9bcb, #2f799e);
    background-image:    -moz-linear-gradient(top, #3e9bcb, #2f799e);
    background-image:     -ms-linear-gradient(top, #3e9bcb, #2f799e);
    background-image:      -o-linear-gradient(top, #3e9bcb, #2f799e);
    background-image:         linear-gradient(top, #3e9bcb, #2f799e);

}

.ka-kwindow-sizer {
    position: absolute;
    background-color: white;
}

.ka-kwindow-sizer-ne,
.ka-kwindow-sizer-se,
.ka-kwindow-sizer-nw,
.ka-kwindow-sizer-sw {
    width: 8px;
    height: 8px;
}

.ka-kwindow-sizer-n {
    cursor: n-resize;
    right: 2px;
    left: 2px;
    top: -4px;
    height: 6px;
}


.ka-kwindow-sizer-ne {
    cursor: ne-resize;
    top: -4px;
    right: -4px;
}

.ka-kwindow-sizer-e {
    cursor: e-resize;
    right: -4px;
    bottom: 2px;
    top: 2px;
    width: 6px;
}

.ka-kwindow-sizer-se {
    cursor: se-resize;
    right: -4px;
    bottom: -4px;
}

.ka-kwindow-sizer-s {
    cursor: s-resize;
    right: 2px;
    left: 2px;
    bottom: -4px;
    height: 6px;
}

.ka-kwindow-sizer-sw {
    cursor: sw-resize;
    left: -4px;
    bottom: -4px;
}

.ka-kwindow-sizer-w {
    cursor: w-resize;
    left: -4px;
    bottom: 2px;
    top: 2px;
    width: 6px;
}

.ka-kwindow-sizer-nw {
    cursor: nw-resize;
    left: -4px;
    top: -4px;
}