.ka-progress {
    border: 1px solid #bbb;
    color: #444;
    font-size: 11px;
    -moz-border-radius: 3px;
    background-color: white;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #222;
    position: relative;
    margin: auto;
}

.ka-progress-unlimited {
    background-image: url(../images/unlimited-loading.gif?nc=1);
    background-color: #f3f3f3;   
}

.ka-progress-unlimited-stopped {
    background-image: url(../images/unlimited-loading.png?nc=3);
    background-color: #f3f3f3;   
}

.ka-progress-bar {
    -moz-border-radius: 3px;
    background: #eaebed; /* Old browsers */

    background: -moz-linear-gradient(top,  #eaebed 0%, #e1e5e8 50%, #cbd1d6 51%, #e8e8ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaebed), color-stop(50%,#e1e5e8), color-stop(51%,#cbd1d6), color-stop(100%,#e8e8ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaebed 0%,#e1e5e8 50%,#cbd1d6 51%,#e8e8ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaebed 0%,#e1e5e8 50%,#cbd1d6 51%,#e8e8ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaebed 0%,#e1e5e8 50%,#cbd1d6 51%,#e8e8ea 100%); /* IE10+ */
    background: linear-gradient(top,  #eaebed 0%,#e1e5e8 50%,#cbd1d6 51%,#e8e8ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebed', endColorstr='#e8e8ea',GradientType=0 ); /* IE6-9 */

    height: 14px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
}


.ka-progress-text {
    position: relative;
}