

.ka-system-module-editWindow-windowPane {

    background-image: url(../images/ka-system-module-editWindow-windowPane-bg.png);

    position: absolute;
    left: 0px;
    right: 400px;
    top: 0px;
    bottom: 31px;
    background-color: white;
    overflow: hidden;

}


.ka-system-module-editWindow-windowInspector-actionbar,
.ka-system-module-editWindow-actionbar {

    background: #dbdbdb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWI1YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #dbdbdb 0%, #d8d8d8 47%, #b5b5b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(47%,#d8d8d8), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* IE10+ */
    background: linear-gradient(top,  #dbdbdb 0%,#d8d8d8 47%,#b5b5b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-8 */
    border-top: 1px solid silver;

}
.ka-system-module-editWindow-actionbar {
    position: absolute;
    left: 0px;
    padding-left: 5px;
    right: 400px;
    height: 30px;
    bottom: 0px;
}


.ka-system-module-editWindow-windowInspector {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 399px;
    border-left: 1px solid silver;
    overflow: auto;
}

.ka-system-module-editWindow-tab-edit:hover {
    opacity: 0.7;
}

.ka-system-module-editWindow-tab-edit {
    cursor: pointer;
}

.ka-system-module-editWindow-windowInspector-header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
}

.ka-system-module-editWindow-windowInspector-content {
    position: absolute;
    bottom: 31px;
    left: 0px;
    overflow: auto;
    right: 0px;
    top: 25px;
}

.ka-system-module-editWindow-windowInspector-actionbar {
    position: absolute;
    height: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ka-system-module-windowEdit-method-container {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 250px;
    overflow: auto;
    border-right: 1px solid silver;
    padding: 5px 0px;
}

.ka-system-module-windowEdit-method-right,
.ka-system-module-windowEdit-methods-notoverwritten {
    position: absolute;
    display: none;
    right: 0px;
    left: 251px;
    top: 0px;
    bottom: 30px;
    background-color: #f3f3f3;
}


.ka-system-module-windowEdit-methods-notoverwritten {
    bottom: 0px;
}

.ka-system-module-windoeEdit-method-actionbar {
    position: absolute;
    display: none;
    right: 5px;
    bottom: 5px;
}


.ka-system-module-windowEdit-methods-notoverwritten {
    background-color: silver;
    text-align: center;
    padding-top: 50px;
}

.ka-system-module-windowEdit-methods-notoverwritten h2 {
    font-size: 24px;
    color: black;
    text-shadow: 0px 1px 2px white;
}

.ka-system-module-windowEdit-method-container a {
    display: block;
    padding: 4px 15px;
    color: #aaa;
    cursor: default;
    position: relative;
    border-bottom: 1px solid #ddd;
}


.ka-system-module-windowEdit-method-container a:hover {
    background-color: #e4e4e4;
}

.ka-system-module-windowEdit-method-container a.active {
    color: #222;
}


.ka-system-module-windowEdit-method-container a.selected {
    background-color: #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, #3E9BCB, to(#2F799E));
    background-image: -webkit-linear-gradient(top, #3E9BCB, #2F799E);
    background-image: -moz-linear-gradient(top, #3E9BCB, #2F799E);
    background-image: -ms-linear-gradient(top, #3E9BCB, #2F799E);
    background-image: -o-linear-gradient(top, #3E9BCB, #2F799E);
    background-image: linear-gradient(top, #3E9BCB, #2F799E);
    color: white;
}

.ka-system-module-windowEdit-method-add {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.ka-system-module-windowEdit-method-codemirror {
    background-color: white;
    border: 1px solid #bbb;
    margin: 5px;
}

.ka-system-module-windowEdit-methods-item-pencil,
.ka-system-module-windowEdit-methods-item-remove {
    position: absolute;
    right: 8px;
    top: 4px;
    width: 12px;
    cursor: pointer;
}


.ka-system-module-windowEdit-methods-item-pencil {
    right: 22px;
}

.ka-system-module-windowEdit-method-container a.ka-system-module-windowEdit-customMethods-item {
    color: #333;
}
.ka-system-module-windowEdit-method-container a.ka-system-module-windowEdit-customMethods-item.selected {
    color: white;
}

.ka-system-module-windowEdit-method-codemirror .CodeMirror-scroll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
}