.ka-admin, .ka-normalize {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Tahoma", sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    text-align: left;
}

table {
    border-collapse: separate;
}

.ka-admin .CodeMirror-gutter {
    z-index: auto;
}

body.hide-scrollbar {
    overflow: hidden;
}

.ka-scrolling {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.ka-scrolling > * {
    -webkit-transform: translateZ(0px);
}

.kryn_cke_toolbar {
    position: absolute !important;
    top: 29px !important;
    left: 221px !important;
    right: 6px !important;
    width: auto !important;
}

.ka-admin div,
.ka-admin span {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body {
    -webkit-tap-highlight-color: transparent;
}

/* ie9 hack for gradients */
:root div, :root span, :root a { filter:none \0/IE9; }

.ka-admin a img,
.ka-admin a:link img {
    border: 0px;
}

.ka-admin img {
    border: 0px;
}

.ka-admin input,
.ka-admin select,
.ka-admin textarea {
    outline: 0;	
}

.ka-admin a,
.ka-admin a:link {
    color: white;
}


div.selectable,
td.selectable,
span.selectable,
div.selectable span, div.selectable div,
td.selectable span, td.selectable div,
span.selectable span, div.selectable div {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.ka-border {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.ka-editor {
    margin-right: 50px;
}

.ka-desktop {
    position: absolute;
    right: 0px;
    left: 210px;
    bottom: 0px;
    top: 100px;
    overflow: hidden;
    background-color: #24688B;
}

.ka-main-menu {
    z-index: 110000;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    width: 210px;
    top: 100px;
    z-index: 110000;

    background-color: #1D1D22;
    overflow: auto;
}

.ka-main-menu:before {
    width: 10px;
    content: '';
    background-image: -moz-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2));
    background-image: -webkit-gradient(linear,0 0,100% 0,from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2));
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 95;
    right: 0;
}

.ka-main-menu-additional {
    float: right;
    font-size: 10px;
}

.ka-main-menu-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-repeat: repeat-x;
    color: white;
    background-color: #24688B;
    box-shadow: 0 1px 9px #111;
}

.ka-main-menu-top-sub {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    background-color: #1D1D22;
    text-align: right;
}

.ka-border .ka-main-menu-top-sub a.ka-Button,
.ka-border .ka-main-menu-top-sub a.ka-Button {
    background-color: transparent;
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid silver;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0px 4px;
    line-height: 17px;
}

div.ka-main-menu-additional img.arrowUp:hover {
    background-color: #399bc7;
}

.ka-mainLinks {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0px;
    overflow: auto;
}

.ka-menu-item-children {
    padding-left: 15px;
    display: none;
}

a.ka-main-menu-item:before {
    padding-right: 10px;
    font-size: 12px;
}

a.ka-main-menu-item,
a.ka-main-menu-item:link {
    line-height: 22px;
    padding: 8px 24px;
    padding-left: 55px;
    color: white;
    font-weight: normal;
    text-shadow: 0px 1px 0px #333;
    text-decoration: none;
    display: block;
    cursor: pointer;
    position: relative;
    outline: 0;
    font-size: 14px;
}

a.ka-menu-item-childopener,
a.ka-menu-item-childopener:link {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 18px;
    border-right: 0px;
    padding: 0px;
    line-height: 32px;
    text-align: center;
}

a.ka-menu-item-childopener:hover {
    background-color: #C7C7C7;
}

.ka-main-menu a.ka-menu-item-hasChilds,
.ka-main-menu a.ka-menu-item-hasChilds:link {
    padding-right: 26px;
}


div.ka-mainLinks a.ka-menu-item-childopener img,
div.ka-mainLinks a.ka-menu-item-childopener:link img {
    vertical-align: middle;
}

.ka-main-menu .ka-main-menu-item-hasImageAsIcon {
    padding-left: 28px;
}

.ka-main-menu .ka-main-menu-item-hasNoIcon {
    padding-left: 45px;
}

.ka-menu-withRightTopBorderRadius {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

div.ka-mainLinks a.bar-dock-logo {
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.ka-main-menu-login-name {
    text-decoration: none;
    padding: 8px 5px;
    padding-top: 8px;
    font-weight: bold;
}

.bar-dock-logo-menu-submenu {
    position: absolute;
    right: 0px;
    top: -10px;
}

.ka-main-menu a img {
    border: 0px
}

.ka-mainLinks [class^="icon-"]:before,
.ka-mainLinks [class*=" icon-"]:before {
    padding-right: 7px;
    color: white;
    font-size: 18px;
    line-height: 20px;
    vertical-align: text-top;
    position: absolute;
    left: 22px;
}

.ka-main-menu-headline {
    color: #2B4552;
    text-shadow: 0 1px 0 #DFDFDF;
    text-transform: uppercase;
    padding: 6px 13px;
    margin: 0;
    font-size: 11px;
    line-height: 14px;
    cursor: pointer;
}

.ka-main-menu-splitter {
    height: 1px;
    background-color: #000;
    border-bottom: 1px solid #3D3D3D;
    margin: 10px 15px;
}

a.ka-main-menu-item:hover {
    background-color: rgba(47, 140, 189, 0.3);
}

.ka-main-menu-additional .icon-eye {
}

.ka-iconbar-item.icon-users {
    color: #1A445A;
    padding-right: 5px;
    font-size: 16px;
}
.ka-iconbar-item.icon-users span {
    padding-left: 5px;
    font-size: 12px;
}


a.ka-main-menu-item-open,
a.ka-main-menu-item-open:link {
    background-color: rgba(47, 140, 189, 0.2);
}

a.ka-main-menu-item-active,
a.ka-main-menu-item-active:link,
a.ka-main-menu-item-active:hover {
    background-color: #2F8CBD;
    color: white;
    text-shadow: 0 1px 0 #444;
    border-left: 5px solid #24688B;
    padding-left: 50px;
}

.ka-main-menu a.ka-main-menu-item-active:before {
    background-color: transparent;
    color: white;
    left: 17px;
}

.ka-iconbar-item {
    white-space: nowrap;
    height: 60px;
    padding: 0px 5px;
    line-height: 60px;
    position: relative;
    display: inline-block;
}

.ka-iconbar-item > a,
.ka-iconbar-item > a:link {
    color: #1A445A;
    font-size: 16px;
    padding: 0 3px;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.ka-iconbar-item > a:hover:before {
    color: #ccc;
}

.ka-iconbar-item > a:active:before {
    color: #999;
}

.input-round-wrapper {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #888;
    padding-right: 8px;
    border-top: 1px solid #666;
}

.ka-search {
    position: relative;
    padding: 0 5px;
    height: 60px;
    display: inline-block;
    line-height: 66px;
}

.ka-search .ka-Input-text {
    box-shadow: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0;
}

.ka-main-menu-top-logo {
    height: 45px;
    margin-left: 23px;
    position: relative;
    top: 6px;
}

.ka-search-query-icon {
    position: absolute;
    right: 12px;
    top: 28px;
}

a.ka-create-search-index-icon.green {
	 background-position: left -19px;
}


a.ka-create-search-index-icon.yellow {
     background-position: left -38px;
}

a.ka-create-search-index-icon.red {
     background-position: left -57px;
}


.ka-mini-search {
    position: absolute;
    bottom: 27px;
    left: 5px;
    width: 250px;
    min-height: 46px;
    background-color: #F7F7F7;
    padding: 4px;
    z-index: 1500000;
    border: 1px solid #C5C5C5;
    border-bottom: 0px;
    max-height: 80%;
    overflow: auto;
}


.ka-mini-search-loading {
    padding: 5px;
}

.ka-mini-search-loading img {
    margin-right: 4px;
}

.ka-mini-search-results h3 {
    border-bottom: 1px dotted #aaa;
    font-size: 12px;
    color: #444;
    margin: 2px 0px;
    padding: 2px 0px;
}

.ka-mini-search-results ul {
    padding-left: 19px;
}


.ka-mini-search-results a,
.ka-mini-search-results a:link {
    display: block;
    margin-bottom: 2px;
}


.ka-linkcontext-main {
    position: absolute;
    top: 40px;
    left: 0px;
    background-repeat: repeat-x;
    background-color: #817f84;
    background-color: #656465;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}



.ka-linkcontext-sub {
	box-shadow: 1px 1px silver;
    background-color: #444;
    padding: 2px 0px;
	border: 2px solid silver;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    z-index: 120000;
}

.ka-linkcontext-main a,
.ka-linkcontext-main a:link {
    display: block;
    color: white;
    padding: 5px 9px;
    cursor: pointer;
    border-bottom: 1px solid #777;
}


.ka-linkcontext-main a:hover {
    color: white;
    background-color: #78767a;
}

.ka-linkcontext-main a.ka-linkcontext-opener,
.ka-linkcontext-main a.ka-linkcontext-opener:link {
    border-bottom: 1px solid #aaa;	
}

.ka-linkcontext-main a.ka-linkcontext-last,
.ka-linkcontext-main a.ka-linkcontext-last:link {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom: 0px;
}
	
.ka-linkcontext-sub a.ka-linkcontext-last,
.ka-linkcontext-sub a.ka-linkcontext-last:link {
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
}






.ka-pages-tree-elementPropertyToolbar {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 0px;
    border-top: 2px solid #aaa;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
/*
    overflow: auto;
*/
    background-color: #cacaca;
}

.ka-pages-tree-elementPropertyToolbarTitle {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding: 2px 3px;
    color: #666;
    background-color: #bbb;
    margin-bottom: 1px;
    clear:both;
    cursor: pointer;

}


.ka-pages-tree-elementPropertyToolbarContent {
    height: 0px;
    overflow: auto;
    padding-bottom: 15px;
    padding-top: 3px;
    visibility: hidden;
}

.ka-pages-tree .ka-pages-tree-elementPropertyToolbar {
    overflow: hidden;
    width: 100%;
}

.ka-pages-layoutContent-ePanel {
    border-top: 2px solid #999;
    float: left;
    margin-top: 3px;
    padding-top: 3px;
}



.ka-pages-tree-elementPropertyToolbarToggler {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -6px;
    height: 6px;
    background-image: url(../images/ka-admin-possibleContenItems-toggler.png);
}

.ka-pages-tree-elementPropertyToolbar .ka-field-main-small {
    width: 190px;
    padding: 0px 2px;
}

.ka-pages-tree-elementPropertyToolbar .ka-field-main-small .ka-field-field {
    margin-left: 9px;
    margin-top: 2px;
    margin-bottom: 3px;
}


.ka-pages-tree-elementPropertyToolbar select {
    margin: 1px;
}



.ka-searchcontext {
    position: absolute;
    top: 60px;
    width: 350px;
    text-align: left;
    height: 150px;
    background-color: #eee;
    border: 4px solid #444444;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 2em #656465;
    -webkit-box-shadow: 0 0 2em #656465;
    box-shadow: 0 0 2em #656465;
    
    z-index: 101000;
}

.ka-searchcontext-content {
    position: absolute;	
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 30px;
    overflow: auto;
}

.ka-searchcontext-bottom {
    position: absolute; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 29px;
    line-height: 29px;
    background-color: #ddd;
    padding-right: 5px;
    border-top: 1px solid #ccc;
}

.ka-searchcontext-arrow {
	position: absolute;
	right: 10px;
	top: -12px;
    width: 15px;
    height: 8px;	   
}

.ka-pages-pluginchooserpane {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 0px;
    background-color: #eee;
    overflow: auto;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-right: 1px solid #aaa;
    border-top: 2px solid #aaa;
}

.ka-fields-sub {
    padding-left: 15px;
    margin-left: 8px;
    border-left: 1px solid #ddd;
}

/**
* 
* Styles for ka.Buttons, ka.Tabs etc
* for a white background
*
*/
.ka-main-menu-light .kwindow-win-buttonGroup {
    border-bottom: 1px solid #999; /*#888;*/
    border-right: 1px solid #999; /*#777;*/
    border-left: 1px solid #999; /*#777;*/
    border-top: 1px solid #777; /*#555;*/
    box-shadow: 0px 1px 0px #eee;
}

.ka-loader-main-absolute {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
}

@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink {
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 2s; 
}