.ka-Button,
.ka-Button:link {
    white-space: nowrap;
    padding: 0px 10px;
    margin: 0px auto;

    cursor: default;
    color: #444;
    line-height: 28px;
    height: 28px;
    font-weight: normal;

    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;

    margin-right: 3px;
    margin-left: 3px;

    text-decoration: none;
    outline: 0;

    display: inline-block;
    border: 1px solid #C0C0C0;

    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
    box-shadow: 0 1px 0px #FCFCFC;
}

.ka-Button:before {
    padding-right: 5px;
    padding-left: 0px;
    position: relative;
    top: 1px;
}

.ka-Button:hover {
    border: 1px solid #888;
    color: black;
}

.ka-Button:focus {
    border: 1px solid #3E9BCB;

    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;

    color: black;
}

.ka-Button:active,
.ka-Button-pressed,
.ka-Button-pressed:link,
.ka-Button-pressed:hover,
.ka-Button-pressed:active {
    border: 1px solid #888;
    color: black;

    background: #d3d3d3;
}

.ka-Button span {
    display: none;
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background: #aaa;
}

.ka-Button img {
    position: relative;
    top: 3px;
    left: -3px;
}

.ka-Button-red, .ka-Button-red:link {
    color: white;
    border: 1px solid #B32B29;
    background: #b23935;
}

.ka-Button-red:hover {
    color: #eee;
    border: 1px solid #AD1E1B;
}

.ka-Button-red:active {
    background: #af1715;
}

.ka-Button-blue,
.ka-Button-blue:link {
    color: white;
    border: 1px solid #106691;
    background: #22638E;
}

.ka-Button-blue:hover {
    color: #eee;
    border: 1px solid #005082;
    background: #205A81;
}

.ka-Button-blue:active {
    background: #154A66;
}

.ka-Button-deactivate,
.ka-Button-deactivate:link,
.ka-Button-deactivate:active,
.ka-Button-deactivate:hover {
    cursor: default;
    color: gray;
    border: 1px solid #a4a4a4;
    background: #f8f8f8;
}