.kwindow-win-buttonGroup {
    margin: 0 10px;
    display: inline-block;

    white-space: nowrap;
    position: relative;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}

.ka-buttonGroup-item,
.ka-buttonGroup-item:link {
    cursor: default;
    line-height: 38px;
    height: 38px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0px 9px;
    color: #757575;
    background-color: #fefefe;
    border-top: 1px solid #ececec;
    border-bottom: 4px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.ka-buttonGroup-item:first-child {
    border-left: 1px solid #ececec;
}


.ka-buttonGroup-item:hover {
    background-color: #f8f8f8;
    color: #222;
}

.ka-buttonGroup-item-with-icon:before {
    padding-right: 5px;
}

.ka-buttonGroup-item-only-icon:before {
    padding-right: 0;
}

.ka-buttonGroup-itemFirst {
}

.ka-buttonGroup-itemLast {
    border-right: 0px;
}

.ka-buttonGroup-item img {
    vertical-align: middle;
    opacity: 0.5;
}

.ka-buttonGroup-item:hover {
    color: #222;
}

.ka-buttonGroup-item:active,
.ka-buttonGroup-item-active,
.ka-buttonGroup-item-active:link {
    color: #000;
    border-bottom: 1px solid #dadada;
    top: 3px;
}

.ka-buttonGroup-item-active img {
    opacity: 1;
}

.ka-buttonGroup-item-active:focus,
.ka-buttonGroup-item:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 2px rgba(47, 140, 189, 0.6);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

