.ka-ButtonGroup {
    margin: 0 10px;
    display: inline-block;

    white-space: nowrap;
    position: relative;
}

.ka-ButtonGroup:first-child {
    margin-left: 0;
}

.ka-ButtonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.ka-ButtonGroupContent {
    position: relative;
}

.ka-buttonGroup-item,
.ka-buttonGroup-item:link {
    cursor: default;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0px 9px;
    color: #494949;
    background-color: #fefefe;
    border-top: 1px solid #ececec;
    border-bottom: 0;
    box-shadow: 0 3px 0 #d6d6d6;
    border-right: 1px solid #e6e6e6;
    margin: 0;
    border-left: 0;
}

.ka-buttonGroup-item:first-child {
    border-left: 1px solid #ececec;
}

.ka-buttonGroup-item-only-icon:before {
    padding-right: 0;
}

.ka-buttonGroup-item img {
    vertical-align: middle;
    opacity: 0.5;
}
