.kwindow-win-buttonGroup {
    margin-right: 15px;
    display: inline-block;
    overflow: hidden;

    white-space: nowrap;
    position: relative;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}


.ka-admin a.ka-buttonGroup-item,
.ka-admin a.ka-buttonGroup-item:link {border-left: 1px solid #327792;
    cursor: default;
    line-height: 26px;
    min-height: 11px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0px 7px;
    background-position: center center;
    color: #ECECEC;
    background-color: #22638E;
}

.ka-buttonGroup-item-with-icon:before {
    padding-right: 5px;
}

.ka-buttonGroup-item-only-icon:before {
    padding-right: 0;
}

.ka-buttonGroup-itemFirst {
}

.ka-buttonGroup-itemLast {
    border-right: 0px;
}

.ka-buttonGroup-item img {
    vertical-align: middle;
    opacity: 0.5;
}

.ka-admin a.ka-buttonGroup-item:hover {
    color: #222;
}

.ka-admin a.ka-buttonGroup-item:active,
.ka-admin a.ka-buttonGroup-item-active,
.ka-admin a.ka-buttonGroup-item-active:link {
    color: #000;
}

.ka-admin a.ka-buttonGroup-item-active img {
    opacity: 1;
}
