.ka-Button,
.ka-Button:link {
    white-space: nowrap;
    padding: 0px 10px;
    margin: 0px auto;

    cursor: default;
    color: #444;
    line-height: 28px;
    height: 28px;
    font-weight: normal;
    
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    text-align: center;
    
    margin-right: 3px;
    margin-left: 3px;
    
    text-decoration: none;
    outline: 0;

    display: inline-block;
    border: 1px solid #C0C0C0;
    background-color: #f9f9f9;

}

.ka-Button:before {
    padding-right: 5px;
    padding-left: 0px;
    position: relative;
    top: 1px;
}

.ka-Button:hover {
    border: 1px solid #888;
    color: black;
}

.ka-Button:focus {
    border: 1px solid #3E9BCB;

    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;

    color: black;
}

.ka-Button:active,
.ka-Button-pressed,
.ka-Button-pressed:link,
.ka-Button-pressed:hover,
.ka-Button-pressed:active {
    border: 1px solid #888;
    color: black;

    background-color: #d3d3d3;
}

.ka-Button span {
    display: none;
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background-color: #aaa;
}

.ka-Button img {
    position: relative;
    top: 3px;
    left: -3px;
}

.ka-Button-red, .ka-Button-red:link {
    color: white;
    border: 1px solid #B32B29;
    background-color: #b23935;
}

.ka-Button-red:hover {
    color: #eee;
    border: 1px solid #AD1E1B;
}

.ka-Button-red:active {
    background-color: #af1715;
}

.ka-Button-blue,
.ka-Button-blue:link {
    color: white;
    border: 1px solid #106691;
    background-color: #22638E;
}

.ka-Button-blue:hover {
    color: #eee;
    border: 1px solid #005082;
    background-color: #205A81;
}

.ka-Button-blue:active {
    background-color: #154A66;
}

.ka-Button-deactivate,
.ka-Button-deactivate:link,
.ka-Button-deactivate:active,
.ka-Button-deactivate:hover {
    cursor: default;
    color: gray;
    border: 1px solid #a4a4a4;
    background-color: #f8f8f8;
}