.ka-Button,
.ka-Button:link {
    white-space: nowrap;
    padding: 0px 10px;

    cursor: default;
    color: #444;
    line-height: 28px;
    height: 28px;
    font-weight: normal;
    text-align: center;

    margin: 0 3px;
    background-color: #fefefe;

    text-decoration: none;
    outline: 0;
    position: relative;

    display: inline-block;
    border: 1px solid #ddd;
    border-bottom: 0;
    box-shadow: 0 3px 0 #d6d6d6;
}

.ka-ActionBar .ka-Button,
.ka-ActionBar .ka-Button:link,
.ka-windowEdit-action-bar .ka-Button,
.ka-windowEdit-action-bar .ka-Button:link,
.kwindow-win-titleGroups .ka-Button,
.kwindow-win-titleGroups .ka-Button:link {
    line-height: 30px;
    height: 30px;
}

.ka-Button:last-child {
    margin-right: 0;
}

.ka-Button:first-child {
    margin-left: 0;
}

.ka-Button:before {
    padding-left: 0px;
    position: relative;
    top: 1px;
}

.ka-Button-textAndIcon:before {
    padding-right: 5px;
}

.ka-Button:hover {
    background-color: #fafafa;
    color: #111;
}

.ka-Button:focus {
    border: 1px solid #3E9BCB;

    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;

    color: black;
}

a.ka-Button:active,
a.ka-Button-pressed,
a.ka-Button-pressed:link,
a.ka-Button-pressed:hover,
a.ka-Button-pressed:active {
    box-shadow: 0 1px 0 #d6d6d6;
    top: 2px;
}

.ka-Button span {
    display: none;
}

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background: #aaa;
}

.ka-Button img {
    position: relative;
    top: 3px;
    left: -3px;
}

.ka-Button-red, .ka-Button-red:link {
    color: white;
    background: #b23935;
}

.ka-Button-red:hover {
    color: #eee;
}

.ka-Button-red:active {
    background: #af1715;
}

.ka-Button-blue,
.ka-Button-blue:link {
    color: white;
    background: #22638E;
}

.ka-Button-blue:hover {
    color: #eee;
    background: #205A81;
}

.ka-Button-blue:active {
    background: #154A66;
}

a.ka-Button-deactivate,
a.ka-Button-deactivate:link,
a.ka-Button-deactivate:active,
a.ka-Button-deactivate:hover {
    cursor: default;
    color: gray;
    background: #f8f8f8;
}