.kwindow-win-buttonGroup {
    margin-right: 15px;
    display: inline-block;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    white-space: nowrap;
    position: relative;

    border: 1px solid #C0C0C0;
    height: 28px;
    line-height: 28px;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}

.ka-buttonGroup-item,
.ka-buttonGroup-item:link {
    border-left: 1px solid #DFDFDF;
    cursor: default;
    line-height: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0px 9px;
    background-position: center center;
    color: #555;
    background-color: #f9f9f9;
}

.kwindow-win-buttonGroup > a:first-child {
    border-left: 0;
    -moz-border-radius-bottomleft: 2px;    
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.kwindow-win-buttonGroup > a:last-child {
    -moz-border-radius-bottomright: 2px;    
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.ka-buttonGroup-item-with-icon:before {
    padding-right: 5px;
}

.ka-buttonGroup-item-only-icon:before {
    padding-right: 0;
}

.ka-buttonGroup-itemFirst {
}

.ka-buttonGroup-itemLast {
    border-right: 0px;
}

.ka-buttonGroup-item img {
    vertical-align: middle;
    opacity: 0.5;
}

.ka-buttonGroup-item:hover {
    color: #222;
}

.ka-buttonGroup-item:active,
.ka-buttonGroup-item-active,
.ka-buttonGroup-item-active:link {
    color: #000;
    background-color: #E9E9E9;
}

.ka-buttonGroup-item-active img {
    opacity: 1;
}

.ka-buttonGroup-item-active:focus,
.ka-buttonGroup-item:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 2px rgba(47, 140, 189, 0.6);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

