.ka-Dashboard-active {
    /*background-color: #103955; */
}

.ka-Dashboard {
    padding: 5px;
}

.ka-Dashboard-widget {
    background-color: #22638E;
    background-color: #FFF;
    margin: 5px;
    display: block;
    float: left;
    min-width: 210px;
    min-height: 210px;
    color: white;
    color: black;
    padding: 5px;
    border: 1px solid #E5E8EB;
}