.ka-Dashboard-active {
    /* background-color: #22638E; */
}

.ka-Dashboard {
    padding: 5px;
}

.ka-Dashboard-widget {
    background-color: white;
    margin: 4px;
    display: block;
    float: left;
    width: 255px;
    height: 215px;
    color: #444;
    border: 1px solid #ddd;
    border-top: 2px solid #22638E;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ka-Dashboard-widget h3 {
    background-color: #f9f9f9;
    margin: 0;
    padding: 5px;
}

.ka-Dashboard-widget-grid-1 {
    width: 215px;
}

.ka-Dashboard-widget-grid-2 {
    width: 518px;
}

.ka-Dashboard-widget-grid-3 {
    width: 781px;
}

.ka-Dashboard-widget-grid-4 {
    width: 890px;
}

.ka-Dashboard-widget-grid-5 {
    width: 1115px;
}