.ka-editor {
    margin-right: 180px;
    background-color: white;
}

.ka-editor-sidebar {
    position: absolute;
    bottom: 0px;
    top: 0px;
    width: 180px;
    right: 0px;
    background: #f6f6f6;
    border-left: 1px solid #707070;
}

.ka-editor-inspector {
    margin-bottom: 10px;
}

.ka-editor-inspector-title,
.ka-editor-plugins-title,
.ka-editor-contentElements-title {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid #dbdbdb;

    background: #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #f6f6f6 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #f6f6f6 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 );
}

.ka-editor-plugins-subTitle {
    color: gray;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.ka-editor-inspector-container {
    padding: 5px 0;
}

a.ka-editor-sidebar-item:link {
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 28px;
    cursor: pointer;
    border-bottom: 1px solid #e4e4e4;
}

a.ka-editor-sidebar-item:before {
    padding-right: 5px;
}

.ka-editor-sidebar a:hover {
    background-color: #eee;
}

a.ka-editor-sidebar-item-splitter:link {
    border-bottom: 5px solid #6F6F6F;
}

a.ka-editor-sidebar-item-active:link {
    color: #66ACF3;
}

a.ka-editor-sidebar-item-showslots:link {
    cursor: help;
}

a.ka-editor-sidebar-item-save:link {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border: 0px;
}

a.ka-editor-sidebar-draggable:link {
    cursor: move;
}

a.ka-editor-sidebar-draggable-active:link {
    border: 0px;
}

.ka-editor-slot-infobubble {

    /*51a9d5 */

    background: #3E9BCB;
    border: 2px solid #3E9BCB;
    padding: 15px;
    color: white;

    position: absolute;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 1px 1px 1px white;
}

.ka-editor-slot-infobubble:after, .ka-editor-slot-infobubble:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ka-editor-slot-infobubble:after {
    border-color: rgba(81, 169, 213, 0);
    border-top-color: #3E9BCB;
    border-width: 15px;
    left: 50%;
    margin-left: -15px;
}

.ka-editor-slot-infobubble:before {
    border-color: rgba(56, 189, 255, 0);
    border-top-color: #3E9BCB;
    border-width: 21px;
    left: 50%;
    margin-left: -21px;
}

.ka-editor-drag-placeholder {
    height: 2px;
    background-color: #14779E;
    box-shadow: 0px 1px 0px white;
    position: relative;
}

.ka-editor-drag-placeholder:after {
    right: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ka-editor-drag-placeholder:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #14779E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.ka-editor-drag-placeholder:before {
    left: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ka-editor-drag-placeholder:before {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #14779E;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}