.ka-Input-text,
input.text {

    color: #444;
    font-size: 14px;
    line-height: 30px;

    height: 30px;
    width: 100%;

    margin: 0;
    padding: 0;

    text-indent: 4px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0;

    background-color: #FDFDFD;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ka-desktop .ka-Input-text {
    border: 1px solid #C0C0C0;
}

.ka-Input-text:focus,
input.text:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

.ka-field-disabled {
    color: #333;
    background: #f1f1f1;
}

.ka-field-invalid {
    border: 1px solid red;
}

