.ka-Input-text,
input.text {

    color: #444;
    font-size: 12px;
    line-height: 26px;

    height: 26px;
    width: 100%;

    margin: 0;
    padding: 0;

    text-indent: 4px;


    /*
    box-shadow: 0px 1px 0px #f9f9f9;
    border: 1px solid #bbb;
    */
    border: 0;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    background: #e5e5e5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e5e5e5 0%, #f4f4f4 43%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(43%,#f4f4f4), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f4f4f4 43%,#ffffff 100%);
    background: -o-linear-gradient(top,  #e5e5e5 0%,#f4f4f4 43%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #e5e5e5 0%,#f4f4f4 43%,#ffffff 100%);
    background: linear-gradient(to bottom,  #e5e5e5 0%,#f4f4f4 43%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.ka-Input-text:focus,
input.text:focus {
    border-color: rgba(47, 140, 189, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    outline: 0;
}

.ka-field-disabled {
    color: #333;
    background: #f1f1f1;
}

.ka-field-invalid {
    border: 1px solid red;
}

