.ka-List-items {
    position: absolute;
    left: 0;
    top: 46px;
    bottom: 0px;
    right: 0;
    border: 1px solid #ddd;
    background-color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ka-List-item {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 6px;
    color: #333;
    position: relative;

    -moz-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    -ms-transition-duration: .4s;
    transition-duration: .4s;
}

.ka-List-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    font-size: 16px;
    font-weight: normal;
}

.ka-List-item .sub {
    color: #aaa;
}

.ka-List-item:hover {
    background-color: #F6F6F6;
}

.ka-List-item.active,
.ka-List-item.active:hover {
    background-color: #22638e;
    color: white;
}

.ka-List-item.active h1,
.ka-List-item.active h2,
.ka-List-item.active h3 {
    color: white;
}