.ka-Select-wrapper {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.ka-Select-wrapper > .ka-Select-box {
    position: absolute;
    left: 0;
    right: 0;
}

.ka-Select-box,
.ka-Select-box:link {
    border: 1px solid #C0C0C0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    cursor: default;
    position: relative;

    overflow: hidden;
    display: inline-block;
    line-height: 28px;

    color: #333;

    vertical-align: top;
    min-width: 40px;
    margin-right: 3px;
    margin-left: 3px;

    text-align: left;
}

.ka-Select-box:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

.ka-Select-box,
.ka-Select-arrow {
    background-color: #f9f9f9;
}

.ka-Select-box-active:hover,
.ka-Select-box-active:hover > .ka-Select-arrow {
    background-color: #f8f8f8;
}


.ka-Select-box:active,
.ka-Select-box-focus,
.ka-Select-box:active > .ka-Select-arrow,
.ka-Select-box-focus > .ka-Select-arrow {
    background: #f6f6f6;
}

.ka-Select-box:active,
.ka-Select-box-focus {
    border: 1px solid #999;
}

.ka-Select-box-focus {
    border: 1px solid #3E9BCB;
}

.ka-Select-box-title {
    padding-left: 5px;
    padding-right: 20px;
    display: inline-block;
    white-space: nowrap;
}

.ka-Select-arrow {
    position: absolute;
    padding-top: 1px;
    padding-right: 5px;
    top: 0;
    right: 0;
    bottom: 0px;
    border-left: 1px solid #DDD;
    width: 14px;
}

.ka-Select-arrow:before {
    color: #666;
    padding-left: 3px;
    font-size: 12px;
}

.ka-Select-box-title > span:before {
    padding-right: 3px;
}

.ka-Select-chooser {
    margin: 0px auto;
    border: 1px solid #bbb;

    border-top: 0px;

    padding-top: 2px;
    position: absolute;
    min-width: 50px;
    min-height: 15px;
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
    background-color: #f8f8f8;
    /*box-shadow: -1px 1px 1px #888;*/

    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;

    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;

    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 32;
}

.ka-Select-chooser.ka-Select-darker {
    border: 1px solid #999;
    border-top: 0px;
}

.ka-Select-borderline {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    border-top: 1px solid #bbb;
}

.ka-Select-chooser.ka-Select-darker .ka-Select-borderline {
    border-top: 1px solid #999;
}


.ka-Select-box-open,
.ka-Select-box-open:hover {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: #f8f8f8;
}

.ka-Select-box-open.ka-Select-withBorderLine,
.ka-Select-box-open.ka-Select-withBorderLine:hover {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ka-Select-chooser div.group {
    color: #333;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
    font-weight: bold;
}

.ka-select-chooser-item {
    display: block;
    padding: 3px 20px 3px 18px;
    color: #222;
    text-decoration: none;
    line-height: 18px;
    cursor: default;

    position: relative;
    white-space: nowrap;
}


.ka-Select-box-title img,
.ka-select-chooser-item img {
    margin-right: 3px;
    float: left;
}

.ka-Select-box-title img {
    margin-top: 2px;
}

.ka-select-chooser-item-active {
    background-color: #e4e4e4;
}

.ka-select-chooser-item:hover {
    background-color: #eee;
}

a.ka-Select-separator,
a.ka-Select-separator:link {
    padding: 2px 5px;
    font-weight: bold;
    cursor: default;
}

.ka-select-chooser-item-selected {
    padding-left: 4px;
}

.ka-select-chooser-item-selected:before {
    padding-right: 4px;
}

.ka-Select-chooser a.ka-Select-separator:hover {
    background-color: transparent;
}