.ka-Select-wrapper {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.ka-Select-wrapper > .ka-Select-box {
    position: absolute;
    left: 0;
    right: 0;
}

.ka-Select-box,
.ka-Select-box:link {
    border: 1px solid #C0C0C0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    cursor: default;
    position: relative;

    overflow: hidden;
    display: inline-block;
    line-height: 28px;

    color: #333;

    vertical-align: top;
    min-width: 40px;
    margin-right: 3px;
    margin-left: 3px;

    text-align: left;
}

.ka-Select-box:focus {
    outline: 0;
    border-color: rgba(47, 140, 189, 0.9);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(47, 140, 189, 0.6);
    box-shadow: 0 0 0 3px rgba(47, 140, 189, 0.2);

    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
}

.ka-Select-box,
.ka-Select-arrow {
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
    box-shadow: 0 1px 0px #FCFCFC;
}

.ka-Select-box-active:hover,
.ka-Select-box-active:hover > .ka-Select-arrow {
    background-color: #f8f8f8;
}

.ka-Select-box:active,
.ka-Select-box:active > .ka-Select-arrow  {
    background: #f6f6f6;
}

.ka-Select-box:active {
    border: 1px solid #999;
}

.ka-Select-transparent,
.ka-Select-transparent .ka-Select-arrow,
.ka-Select-transparent:link,
.ka-Select-transparent:active,
.ka-Select-transparent .ka-Select-box:active > .ka-Select-arrow,
.ka-Select-transparent .ka-Select-box-focus > .ka-Select-arrow {
    background-color: transparent;
    background: transparent;
    border: 0;
}

.ka-Select-box-focus {
    border: 1px solid #3E9BCB;
}

.ka-Select-box-title {
    padding-left: 5px;
    padding-right: 25px;
    display: inline-block;
    white-space: nowrap;
}

.ka-Select-arrow {
    position: absolute;
    padding-top: 1px;
    padding-right: 5px;
    top: 0;
    right: 0;
    bottom: 0px;
    border-left: 1px solid #DDD;
    width: 14px;
}

.ka-Select-arrow:before {
    color: #666;
    padding-left: 3px;
    font-size: 12px;
}

.ka-Select-box-title > span:before {
    padding-right: 3px;
}

.ka-Select-chooser {
    margin: 0px auto;
    border: 1px solid #C0C0C0;

    border-top: 0px;

    padding-top: 2px;
    position: absolute;
    min-width: 50px;
    min-height: 15px;
    max-height: 200px;
    max-width: 400px;
    overflow: auto;
    background-color: #f8f8f8;
    /*box-shadow: -1px 1px 1px #888;*/

    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;

    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;

    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 32;
}

.ka-Select-borderline {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    border-top: 1px solid #C0C0C0;
}

.ka-Select-box-open,
.ka-Select-box-open:hover {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;

    background-color: #f8f8f8;
}

.ka-Select-box-open.ka-Select-withBorderLine,
.ka-Select-box-open.ka-Select-withBorderLine:hover {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ka-Select-chooser div.group {
    color: #333;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
    font-weight: bold;
}

.ka-select-chooser-item {
    display: block;
    padding: 3px 20px 3px 18px;
    color: #222;
    text-decoration: none;
    line-height: 18px;
    cursor: default;

    position: relative;
    white-space: nowrap;
}

.ka-Select-box-title img,
.ka-select-chooser-item img {
    margin-right: 3px;
    float: left;
}

.ka-Select-box-title img {
    margin-top: 2px;
}

.ka-select-chooser-item-active {
    background-color: #e4e4e4;
}

.ka-select-chooser-item:hover {
    background-color: #eee;
}

a.ka-Select-separator,
a.ka-Select-separator:link {
    padding: 2px 5px;
    font-weight: bold;
    cursor: default;
}

.ka-select-chooser-item-selected {
    padding-left: 4px;
}

.ka-select-chooser-item-selected:before {
    padding-right: 4px;
}

.ka-Select-chooser a.ka-Select-separator:hover {
    background-color: transparent;
}