.ka-list-main > table,
.ka-list-head > table {
    table-layout: fixed;
    width: 100%;
}

.ka-list-head {
    position: absolute;
    top: 0px;
    /*width: 100%;*/
    left: 0px;
    right: 16px;
    height: 21px;
    border-bottom: 1px solid silver;
}

.ka-list-main {
    position: absolute;
    top: 22px;
    width: 100%;
    bottom: 30px;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ka-window-list-buttonGroup {
    margin-left: 0px;
}

/*
.ka-list-head > table th {
    line-height: 19px;
}

.ka-list-head table th:hover {
    background-color: #c7c7c7;
}


.ka-list-head > table th,
.ka-list-main > table td {
    cursor: default;
    border-left: 1px solid #ddd;
    padding-left: 3px;
    font-weight: normal;
}

.ka-list-main > table tr td {
    color: #555;
}


.ka-list-main > table tr td.edit img {
    cursor: pointer;
}

.ka-list-main > table tr.active td {
    background-color: #112a6a;
    color: white;
}
*/


.ka-windowCombine-treeContainer {
    top: 35px;
    border-top: 1px solid #C0C0C0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ka-windowCombine-treeContainer + .ka-Splitter-main {
    border-top: 1px solid silver;

    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ka-windowCombine-list-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.ka-windowCombine-combine-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.ka-windowCombine-list-actions {
    text-align: left;
    position: absolute;
    left: 0;
    height: 0;
    bottom: 0;
    right: 6px;
    overflow: hidden;
}


.ka-list-combine-item-remove {
    position: absolute;
    right: 5px;
    bottom: 3px;
    padding: 5px;
    display: none;
}

.remove-activated .ka-list-combine-item-remove {
    display: block;
}

.remove-activated .ka-list-combine-item {
    margin-left: 25px;
}

.ka-list-combine-item-removecheck {
    position: absolute;
    left: -20px;
    width: 25px;
    top: 0;
    height: 100%;
    border-bottom: 1px solid #ddd;
}


.ka-list-combine-item-removecheck input {
    margin-top: 15px;
}

.ka-list-combine-right {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.ka-list-combine-left-itemcount {
    position: absolute;
    right: 6px;
    top: 10px;
    color: #999;
}

.ka-list-combine-searchicon {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 30px;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: gray;
}


.ka-list-combine-searchicon img {
    position: relative;
    top: 7px;
}


.ka-list-combine-searchicon-active,
.ka-list-combine-searchicon:hover {
    background-color: #f8f8f8;
}

.ka-list-combine-searchicon-active {
    bottom: -1px;
}

.ka-list-combine-userfilter {
    margin: 0px 4px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 4px;
    background-color: #f1f1f1;
}

.ka-list-combine-userfilter a,
.ka-list-combine-userfilter a:link {
    padding: 1px 5px;
    line-height: 14px;
}

.ka-list-combine-search {
    -moz-border-radius: 6px;
    border: 0px;
    position: relative;
    background-color: #eee;
    color: silver;
    padding-left: 3px;
    top: -1px;
    left: -1px;
    width: 117px;
    height: 21px;
}


.ka-list-combine-userfilter a img,
.ka-list-combine-userfilter a:link img {
    position: relative;
    top: 1px;    
}

.ka-list-combine-userfilter a.active,
.ka-list-combine-userfilter a.active:link {
    background-color: gray;
    color: white;
}


.ka-list-combine-left {
    background-color: #f9f9f9;
    position: absolute;
    left: 0;
    right: 6px;
    top: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.ka-list-actionBarNavigation {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    border-top: 1px solid #DDD;
    line-height: 45px;
}

.ka-Table-windowList {
    bottom: 46px;
}

.ka-list-actionBar-page {
    border-top: 0;
    border-bottom: 0;
    width: 45px;
    position: relative;
    text-align: center;
    text-indent: 0;
    height: 28px;
}

.ka-list-actionBar-page-count {
    display: inline-block;
    min-width: 29px;
    text-align: center;
    line-height: 30px;
}

.ka-list-actionBar .actionBar img {
    cursor: pointer;
}

a.ka-list-search-button,
a.ka-list-search-button:link {
    position: absolute;
    display: block;
    padding: 0px 5px 0px 5px;
    right: 150px;
    top: -1px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}


a.ka-list-search-button:hover,
a.ka-list-search-button-active,
a.ka-list-search-button-active:link {
    background-color: #bbb;
    color: white;
}

.ka-list-search-pane {
    background-color: #bbb;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 28px;
    left: 0px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 1px;
}

.ka-list-combine-itemloader,
.ka-list-combine-item {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 6px;
    color: gray;
    position: relative;
}

.ka-list-combine-item h2 {
    padding: 0px;
    margin: 1px 0px 4px 0px;
    color: #555;
    font-size: 16px;
    font-weight: normal;
}

.ka-list-combine-item .sub {
    color: #aaa;
}

.ka-list-combine-item.active .sub {
    color: silver;
}

.ka-list-combine-item.active h2 {
    /*text-shadow: 0px 1px 0px black;*/
    color: white;
}
    
.ka-list-combine-item:hover {
    background-color: #FCFCFC;
}

.ka-list-combine-item.active,
.ka-list-combine-item.active:hover {
    background-color: #22638E;
    color: white;
}

.ka-list-combine-splititem {
    border-bottom: 1px solid #ddd;
    padding: 0px 6px;
    line-height: 20px;
    color: #666; 
}

.ka-list-combine-left-top {
    position: relative;
    height: 35px;
    border-bottom: 1px solid #bebebe;
    color: #444;
}

.ka-list-combine-left-top .ka-Select-box,
.ka-list-combine-left-top .ka-Select-box:link {
    margin-left: 0;
}

.ka-list-combine-items {
}

.ka-list-combine-items + .ka-Splitter-main {
    top: 35px;
    border-top: 1px solid #E2E2E2;
}

.ka-windowCombine-title-groups {
}

.ka-list-combine-itemloader:hover {
    background-image: none;
    background-color: transparent;
}


.ka-list-combine-itemloader {
    padding: 10px;
    color: silver;
    text-align: center;
    cursor: default;
}

.ka-list-combine-searchpane {
    position: absolute; 
    background-color: #f8f8f8; 
    left: 0px;
    top: 31px; 
    height: 0px; 
    right: 6px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-image: url(../../images/ka-list-combine-searchpane-bg.png);
    background-repeat: repeat-x;
    background-position: left bottom;
}


.ka-list-combine-searchpane .ka-field-field select,
.ka-list-combine-searchpane .ka-field-field textarea, 
.ka-list-combine-searchpane .ka-field-field input.text {
    width: 140px;
}

.ka-list-combine-searchpane .ka-field-field {
    margin: 2px 2px 2px 15px;
}

.ka-list-combine-searchpane .ka-field-tdtitle {
    padding-top: 7px;
}


/*

.ka-list-table {
    padding: 0px;
    margin: 0px;
}

.ka-list-table thead th {
    height: 25px;
    border-bottom: 1px solid silver;
}

.ka-list-table td {
    background-color: white;
}

.ka-list-table tbody td {
    padding: 1px 23px 1px 2px;
    height: 18px;
    border-bottom: 1px solid #ddd;
}

.ka-list-table th.edit,
.ka-list-table td.edit {
    padding-right: 2px;
    width: 5px;
}

.ka-list-actionBar {
    position: absolute;
    background-color: white;
    bottom: 0px;
    height: 25px;
    line-height: 25px;
    padding-left: 2px;
    left: 0px;
    right: 0px;
    border-top: 1px solid gray;
}
*/
