@font-face {
	font-family: 'IcoMoon';
	src: url('fonts/IcoMoon.eot');
	src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('fonts/IcoMoon.woff') format('woff'),
		url('fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-home:before {
	content: "\21";
}
.icon-home-2:before {
	content: "\22";
}
.icon-home-3:before {
	content: "\23";
}
.icon-newspaper:before {
	content: "\24";
}
.icon-pencil:before {
	content: "\25";
}
.icon-pencil-2:before {
	content: "\26";
}
.icon-droplet:before {
	content: "\27";
}
.icon-picture:before {
	content: "\28";
}
.icon-picture-2:before {
	content: "\29";
}
.icon-camera:before {
	content: "\2a";
}
.icon-music:before {
	content: "\2b";
}
.icon-play:before {
	content: "\2c";
}
.icon-film:before {
	content: "\2d";
}
.icon-camera-2:before {
	content: "\2e";
}
.icon-spades:before {
	content: "\2f";
}
.icon-clubs:before {
	content: "\30";
}
.icon-diamonds:before {
	content: "\31";
}
.icon-broadcast:before {
	content: "\32";
}
.icon-microphone:before {
	content: "\33";
}
.icon-book:before {
	content: "\34";
}
.icon-paper:before {
	content: "\35";
}
.icon-paper-2:before {
	content: "\36";
}
.icon-new:before {
	content: "\37";
}
.icon-copy:before {
	content: "\38";
}
.icon-folder:before {
	content: "\39";
}
.icon-folder-2:before {
	content: "\3a";
}
.icon-tag:before {
	content: "\3b";
}
.icon-cart:before {
	content: "\3c";
}
.icon-basket:before {
	content: "\3d";
}
.icon-calculate:before {
	content: "\3e";
}
.icon-support:before {
	content: "\3f";
}
.icon-phone:before {
	content: "\40";
}
.icon-mail:before {
	content: "\41";
}
.icon-location:before {
	content: "\42";
}
.icon-compass:before {
	content: "\43";
}
.icon-history:before {
	content: "\44";
}
.icon-clock:before {
	content: "\45";
}
.icon-bell:before {
	content: "\46";
}
.icon-bell-2:before {
	content: "\47";
}
.icon-bell-3:before {
	content: "\48";
}
.icon-calendar:before {
	content: "\49";
}
.icon-mouse:before {
	content: "\4a";
}
.icon-screen:before {
	content: "\4b";
}
.icon-laptop:before {
	content: "\4c";
}
.icon-mobile:before {
	content: "\4d";
}
.icon-tablet:before {
	content: "\4e";
}
.icon-mobile-2:before {
	content: "\4f";
}
.icon-drawer:before {
	content: "\50";
}
.icon-drawer-2:before {
	content: "\51";
}
.icon-box-add:before {
	content: "\52";
}
.icon-box-remove:before {
	content: "\53";
}
.icon-database:before {
	content: "\54";
}
.icon-undo:before {
	content: "\55";
}
.icon-redo:before {
	content: "\56";
}
.icon-forward:before {
	content: "\57";
}
.icon-reply:before {
	content: "\58";
}
.icon-reply-2:before {
	content: "\59";
}
.icon-comments:before {
	content: "\5a";
}
.icon-comments-2:before {
	content: "\5b";
}
.icon-comments-3:before {
	content: "\5c";
}
.icon-comments-4:before {
	content: "\5d";
}
.icon-comments-5:before {
	content: "\5e";
}
.icon-comments-6:before {
	content: "\5f";
}
.icon-user:before {
	content: "\60";
}
.icon-user-2:before {
	content: "\61";
}
.icon-user-3:before {
	content: "\62";
}
.icon-busy:before {
	content: "\63";
}
.icon-loading:before {
	content: "\64";
}
.icon-loading-2:before {
	content: "\65";
}
.icon-search:before {
	content: "\66";
}
.icon-search-2:before {
	content: "\67";
}
.icon-zoom-in:before {
	content: "\68";
}
.icon-zoom-out:before {
	content: "\69";
}
.icon-key:before {
	content: "\6a";
}
.icon-key-2:before {
	content: "\6b";
}
.icon-locked:before {
	content: "\6c";
}
.icon-unlocked:before {
	content: "\6d";
}
.icon-wrench:before {
	content: "\6e";
}
.icon-equalizer:before {
	content: "\6f";
}
.icon-cog:before {
	content: "\70";
}
.icon-pie:before {
	content: "\71";
}
.icon-bars:before {
	content: "\72";
}
.icon-stats-up:before {
	content: "\73";
}
.icon-gift:before {
	content: "\74";
}
.icon-trophy:before {
	content: "\75";
}
.icon-diamond:before {
	content: "\76";
}
.icon-coffee:before {
	content: "\77";
}
.icon-rocket:before {
	content: "\78";
}
.icon-meter-slow:before {
	content: "\79";
}
.icon-meter-medium:before {
	content: "\7a";
}
.icon-meter-fast:before {
	content: "\7b";
}
.icon-dashboard:before {
	content: "\7c";
}
.icon-fire:before {
	content: "\7d";
}
.icon-lab:before {
	content: "\e000";
}
.icon-remove:before {
	content: "\e001";
}
.icon-remove-2:before {
	content: "\e002";
}
.icon-remove-3:before {
	content: "\e003";
}
.icon-briefcase:before {
	content: "\e004";
}
.icon-briefcase-2:before {
	content: "\e005";
}
.icon-cars:before {
	content: "\e006";
}
.icon-bus:before {
	content: "\e007";
}
.icon-cube:before {
	content: "\e008";
}
.icon-cube-2:before {
	content: "\e009";
}
.icon-puzzle:before {
	content: "\e00a";
}
.icon-glasses:before {
	content: "\e00b";
}
.icon-glasses-2:before {
	content: "\e00c";
}
.icon-accessibility:before {
	content: "\e00d";
}
.icon-accessibility-2:before {
	content: "\e00e";
}
.icon-target:before {
	content: "\e00f";
}
.icon-target-2:before {
	content: "\e010";
}
.icon-lightning:before {
	content: "\e011";
}
.icon-power:before {
	content: "\e012";
}
.icon-power-2:before {
	content: "\e013";
}
.icon-clipboard:before {
	content: "\e014";
}
.icon-clipboard-2:before {
	content: "\e015";
}
.icon-playlist:before {
	content: "\e016";
}
.icon-grid-view:before {
	content: "\e017";
}
.icon-tree-view:before {
	content: "\e018";
}
.icon-menu:before {
	content: "\e019";
}
.icon-menu-2:before {
	content: "\e01a";
}
.icon-cloud:before {
	content: "\e01b";
}
.icon-cloud-2:before {
	content: "\e01c";
}
.icon-download:before {
	content: "\e01d";
}
.icon-upload:before {
	content: "\e01e";
}
.icon-upload-2:before {
	content: "\e01f";
}
.icon-link:before {
	content: "\e020";
}
.icon-link-2:before {
	content: "\e021";
}
.icon-flag:before {
	content: "\e022";
}
.icon-flag-2:before {
	content: "\e023";
}
.icon-flag-3:before {
	content: "\e024";
}
.icon-eye:before {
	content: "\e025";
}
.icon-eye-2:before {
	content: "\e026";
}
.icon-bookmark:before {
	content: "\e027";
}
.icon-bookmark-2:before {
	content: "\e028";
}
.icon-star:before {
	content: "\e029";
}
.icon-star-2:before {
	content: "\e02a";
}
.icon-star-3:before {
	content: "\e02b";
}
.icon-heart:before {
	content: "\e02c";
}
.icon-heart-2:before {
	content: "\e02d";
}
.icon-thumbs-up:before {
	content: "\e02e";
}
.icon-thumbs-down:before {
	content: "\e02f";
}
.icon-happy:before {
	content: "\e030";
}
.icon-smiley:before {
	content: "\e031";
}
.icon-neutral:before {
	content: "\e032";
}
.icon-plus:before {
	content: "\e033";
}
.icon-minus:before {
	content: "\e034";
}
.icon-help:before {
	content: "\e035";
}
.icon-help-2:before {
	content: "\e036";
}
.icon-info:before {
	content: "\e037";
}
.icon-blocked:before {
	content: "\e038";
}
.icon-cancel:before {
	content: "\e039";
}
.icon-cancel-2:before {
	content: "\e03a";
}
.icon-cancel-3:before {
	content: "\e03b";
}
.icon-checkmark:before {
	content: "\e03c";
}
.icon-minus-2:before {
	content: "\e03d";
}
.icon-plus-2:before {
	content: "\e03e";
}
.icon-enter:before {
	content: "\e03f";
}
.icon-exit:before {
	content: "\e040";
}
.icon-loop:before {
	content: "\e041";
}
.icon-arrow-up:before {
	content: "\e042";
}
.icon-arrow-right:before {
	content: "\e043";
}
.icon-arrow-down:before {
	content: "\e044";
}
.icon-arrow-left:before {
	content: "\e045";
}
.icon-arrow-up-left:before {
	content: "\e046";
}
.icon-arrow-up-2:before {
	content: "\e047";
}
.icon-arrow-up-right:before {
	content: "\e048";
}
.icon-arrow-right-2:before {
	content: "\e049";
}
.icon-arrow-down-right:before {
	content: "\e04a";
}
.icon-arrow-down-2:before {
	content: "\e04b";
}
.icon-arrow-down-left:before {
	content: "\e04c";
}
.icon-arrow-left-2:before {
	content: "\e04d";
}
.icon-arrow-up-left-2:before {
	content: "\e04e";
}
.icon-arrow-up-3:before {
	content: "\e04f";
}
.icon-arrow-up-right-2:before {
	content: "\e050";
}
.icon-arrow-right-3:before {
	content: "\e051";
}
.icon-arrow-down-right-2:before {
	content: "\e052";
}
.icon-arrow-down-3:before {
	content: "\e053";
}
.icon-arrow-down-left-2:before {
	content: "\e054";
}
.icon-arrow-left-3:before {
	content: "\e055";
}
.icon-arrow-up-left-3:before {
	content: "\e056";
}
.icon-arrow-up-4:before {
	content: "\e057";
}
.icon-arrow-up-right-3:before {
	content: "\e058";
}
.icon-arrow-right-4:before {
	content: "\e059";
}
.icon-arrow-down-right-3:before {
	content: "\e05a";
}
.icon-arrow-down-4:before {
	content: "\e05b";
}
.icon-arrow-down-left-3:before {
	content: "\e05c";
}
.icon-arrow-left-4:before {
	content: "\e05d";
}
.icon-arrow-up-5:before {
	content: "\e05e";
}
.icon-arrow-right-5:before {
	content: "\e05f";
}
.icon-arrow-down-5:before {
	content: "\e060";
}
.icon-arrow-left-5:before {
	content: "\e061";
}
.icon-arrow-up-6:before {
	content: "\e062";
}
.icon-arrow-right-6:before {
	content: "\e063";
}
.icon-arrow-down-6:before {
	content: "\e064";
}
.icon-arrow-left-6:before {
	content: "\e065";
}
.icon-arrow-up-7:before {
	content: "\e066";
}
.icon-arrow-right-7:before {
	content: "\e067";
}
.icon-arrow-down-7:before {
	content: "\e068";
}
.icon-arrow-left-7:before {
	content: "\e069";
}
.icon-menu-3:before {
	content: "\e06a";
}
.icon-enter-2:before {
	content: "\e06b";
}
.icon-backspace:before {
	content: "\e06c";
}
.icon-backspace-2:before {
	content: "\e06d";
}
.icon-tab:before {
	content: "\e06e";
}
.icon-tab-2:before {
	content: "\e06f";
}
.icon-checkbox:before {
	content: "\e070";
}
.icon-checkbox-unchecked:before {
	content: "\e071";
}
.icon-checkbox-partial:before {
	content: "\e072";
}
.icon-radio-checked:before {
	content: "\e073";
}
.icon-radio-unchecked:before {
	content: "\e074";
}
.icon-font:before {
	content: "\e075";
}
.icon-paragraph-left:before {
	content: "\e076";
}
.icon-paragraph-center:before {
	content: "\e077";
}
.icon-paragraph-right:before {
	content: "\e078";
}
.icon-left-to-right:before {
	content: "\e079";
}
.icon-right-to-left:before {
	content: "\e07a";
}
.icon-out:before {
	content: "\e07b";
}
.icon-out-2:before {
	content: "\e07c";
}
.icon-embed:before {
	content: "\e07d";
}
.icon-seven-segment:before {
	content: "\e07e";
}
.icon-seven-segment-2:before {
	content: "\e07f";
}
.icon-seven-segment-3:before {
	content: "\e080";
}
.icon-seven-segment-4:before {
	content: "\e081";
}
.icon-seven-segment-5:before {
	content: "\e082";
}
.icon-seven-segment-6:before {
	content: "\e083";
}
.icon-seven-segment-7:before {
	content: "\e084";
}
.icon-seven-segment-8:before {
	content: "\e085";
}
.icon-seven-segment-9:before {
	content: "\e086";
}
.icon-seven-segment-10:before {
	content: "\e087";
}
.icon-bluetooth:before {
	content: "\e088";
}
.icon-share:before {
	content: "\e089";
}
.icon-share-2:before {
	content: "\e08a";
}
.icon-mail-2:before {
	content: "\e08b";
}
.icon-mail-3:before {
	content: "\e08c";
}
.icon-google-plus:before {
	content: "\e08d";
}
.icon-google-plus-2:before {
	content: "\e08e";
}
.icon-google-plus-3:before {
	content: "\e08f";
}
.icon-gplus:before {
	content: "\e090";
}
.icon-facebook:before {
	content: "\e091";
}
.icon-facebook-2:before {
	content: "\e092";
}
.icon-facebook-3:before {
	content: "\e093";
}
.icon-facebook-4:before {
	content: "\e094";
}
.icon-twitter:before {
	content: "\e095";
}
.icon-twitter-2:before {
	content: "\e096";
}
.icon-twitter-3:before {
	content: "\e097";
}
.icon-feed:before {
	content: "\e098";
}
.icon-feed-2:before {
	content: "\e099";
}
.icon-feed-3:before {
	content: "\e09a";
}
.icon-youtube:before {
	content: "\e09b";
}
.icon-youtube-2:before {
	content: "\e09c";
}
.icon-vimeo:before {
	content: "\e09d";
}
.icon-vimeo-2:before {
	content: "\e09e";
}
.icon-flickr:before {
	content: "\e09f";
}
.icon-flickr-2:before {
	content: "\e0a0";
}
.icon-flickr-3:before {
	content: "\e0a1";
}
.icon-picassa:before {
	content: "\e0a2";
}
.icon-picassa-2:before {
	content: "\e0a3";
}
.icon-dribbble:before {
	content: "\e0a4";
}
.icon-dribbble-2:before {
	content: "\e0a5";
}
.icon-dribbble-3:before {
	content: "\e0a6";
}
.icon-forrst:before {
	content: "\e0a7";
}
.icon-forrst-2:before {
	content: "\e0a8";
}
.icon-deviantart:before {
	content: "\e0a9";
}
.icon-deviantart-2:before {
	content: "\e0aa";
}
.icon-github:before {
	content: "\e0ab";
}
.icon-github-2:before {
	content: "\e0ac";
}
.icon-github-3:before {
	content: "\e0ad";
}
.icon-github-4:before {
	content: "\e0ae";
}
.icon-github-5:before {
	content: "\e0af";
}
.icon-github-6:before {
	content: "\e0b0";
}
.icon-git:before {
	content: "\e0b1";
}
.icon-github-7:before {
	content: "\e0b2";
}
.icon-wordpress:before {
	content: "\e0b3";
}
.icon-wordpress-2:before {
	content: "\e0b4";
}
.icon-blogger:before {
	content: "\e0b5";
}
.icon-blogger-2:before {
	content: "\e0b6";
}
.icon-tumblr:before {
	content: "\e0b7";
}
.icon-tumblr-2:before {
	content: "\e0b8";
}
.icon-yahoo:before {
	content: "\e0b9";
}
.icon-yahoo-2:before {
	content: "\e0ba";
}
.icon-amazon:before {
	content: "\e0bb";
}
.icon-amazon-2:before {
	content: "\e0bc";
}
.icon-apple:before {
	content: "\e0bd";
}
.icon-finder:before {
	content: "\e0be";
}
.icon-android:before {
	content: "\e0bf";
}
.icon-windows:before {
	content: "\e0c0";
}
.icon-soundcloud:before {
	content: "\e0c1";
}
.icon-soundcloud-2:before {
	content: "\e0c2";
}
.icon-skype:before {
	content: "\e0c3";
}
.icon-reddit:before {
	content: "\e0c4";
}
.icon-linkedin:before {
	content: "\e0c5";
}
.icon-lastfm:before {
	content: "\e0c6";
}
.icon-lastfm-2:before {
	content: "\e0c7";
}
.icon-delicious:before {
	content: "\e0c8";
}
.icon-stumbleupon:before {
	content: "\e0c9";
}
.icon-stumbleupon-2:before {
	content: "\e0ca";
}
.icon-pinterest:before {
	content: "\e0cb";
}
.icon-pinterest-2:before {
	content: "\e0cc";
}
.icon-xing:before {
	content: "\e0cd";
}
.icon-libreoffice:before {
	content: "\e0ce";
}
.icon-file-pdf:before {
	content: "\e0cf";
}
.icon-file-openoffice:before {
	content: "\e0d0";
}
.icon-file-word:before {
	content: "\e0d1";
}
.icon-file-excel:before {
	content: "\e0d2";
}
.icon-file-powerpoint:before {
	content: "\e0d3";
}
.icon-file-zip:before {
	content: "\e0d4";
}
.icon-file-xml:before {
	content: "\e0d5";
}
.icon-file-css:before {
	content: "\e0d6";
}
.icon-html5:before {
	content: "\e0d7";
}
.icon-html5-2:before {
	content: "\e0d8";
}
.icon-css3:before {
	content: "\e0d9";
}
.icon-chrome:before {
	content: "\e0da";
}
.icon-firefox:before {
	content: "\e0db";
}
.icon-IE:before {
	content: "\e0dc";
}
.icon-opera:before {
	content: "\e0dd";
}
.icon-safari:before {
	content: "\e0de";
}
.icon-IcoMoon:before {
	content: "\e0df";
}
.icon-phone-2:before {
	content: "\e0e0";
}
.icon-mobile-3:before {
	content: "\e0e1";
}
.icon-mouse-2:before {
	content: "\e0e2";
}
.icon-address:before {
	content: "\e0e3";
}
.icon-email:before {
	content: "\e0e4";
}
.icon-write:before {
	content: "\e0e5";
}
.icon-attachment:before {
	content: "\e0e6";
}
.icon-reply-3:before {
	content: "\e0e7";
}
.icon-reply-to-all:before {
	content: "\e0e8";
}
.icon-forward-2:before {
	content: "\e0e9";
}
.icon-user-4:before {
	content: "\e0ea";
}
.icon-users:before {
	content: "\e0eb";
}
.icon-contact:before {
	content: "\e0ec";
}
.icon-card:before {
	content: "\e0ed";
}
.icon-export:before {
	content: "\e0ee";
}
.icon-location-2:before {
	content: "\e0ef";
}
.icon-map:before {
	content: "\e0f0";
}
.icon-compass-2:before {
	content: "\e0f1";
}
.icon-direction:before {
	content: "\e0f2";
}
.icon-center:before {
	content: "\e0f3";
}
.icon-share-3:before {
	content: "\e0f4";
}
.icon-heart-3:before {
	content: "\e0f5";
}
.icon-heart-4:before {
	content: "\e0f6";
}
.icon-star-4:before {
	content: "\e0f7";
}
.icon-star-5:before {
	content: "\e0f8";
}
.icon-thumbs-up-2:before {
	content: "\e0f9";
}
.icon-chat:before {
	content: "\e0fa";
}
.icon-comment:before {
	content: "\e0fb";
}
.icon-quote:before {
	content: "\e0fc";
}
.icon-printer:before {
	content: "\e0fd";
}
.icon-alert:before {
	content: "\e0fe";
}
.icon-link-3:before {
	content: "\e0ff";
}
.icon-flag-4:before {
	content: "\e100";
}
.icon-settings:before {
	content: "\e101";
}
.icon-search-3:before {
	content: "\e102";
}
.icon-trophy-2:before {
	content: "\e103";
}
.icon-price:before {
	content: "\e104";
}
.icon-camera-3:before {
	content: "\e105";
}
.icon-sleep:before {
	content: "\e106";
}
.icon-palette:before {
	content: "\e107";
}
.icon-leaf:before {
	content: "\e108";
}
.icon-music-2:before {
	content: "\e109";
}
.icon-shopping:before {
	content: "\e10a";
}
.icon-flight:before {
	content: "\e10b";
}
.icon-support-2:before {
	content: "\e10c";
}
.icon-google-circles:before {
	content: "\e10d";
}
.icon-eye-3:before {
	content: "\e10e";
}
.icon-clock-2:before {
	content: "\e10f";
}
.icon-microphone-2:before {
	content: "\e110";
}
.icon-calendar-2:before {
	content: "\e111";
}
.icon-flash:before {
	content: "\e112";
}
.icon-time:before {
	content: "\e113";
}
.icon-rss:before {
	content: "\e114";
}
.icon-locked-2:before {
	content: "\e115";
}
.icon-unlocked-2:before {
	content: "\e116";
}
.icon-checkmark-2:before {
	content: "\e117";
}
.icon-cancel-4:before {
	content: "\e118";
}
.icon-minus-3:before {
	content: "\e119";
}
.icon-plus-3:before {
	content: "\e11a";
}
.icon-close:before {
	content: "\e11b";
}
.icon-minus-4:before {
	content: "\e11c";
}
.icon-plus-4:before {
	content: "\e11d";
}
.icon-blocked-2:before {
	content: "\e11e";
}
.icon-info-2:before {
	content: "\e11f";
}
.icon-info-circle:before {
	content: "\e120";
}
.icon-help-3:before {
	content: "\e121";
}
.icon-help-4:before {
	content: "\e122";
}
.icon-warning:before {
	content: "\e123";
}
.icon-reload-CW:before {
	content: "\e124";
}
.icon-reload-CCW:before {
	content: "\e125";
}
.icon-shuffle:before {
	content: "\e126";
}
.icon-back:before {
	content: "\e127";
}
.icon-arrow:before {
	content: "\e128";
}
.icon-retweet:before {
	content: "\e129";
}
.icon-list:before {
	content: "\e12a";
}
.icon-add:before {
	content: "\e12b";
}
.icon-grid:before {
	content: "\e12c";
}
.icon-document:before {
	content: "\e12d";
}
.icon-document-2:before {
	content: "\e12e";
}
.icon-documents:before {
	content: "\e12f";
}
.icon-landscape:before {
	content: "\e130";
}
.icon-images:before {
	content: "\e131";
}
.icon-movie:before {
	content: "\e132";
}
.icon-song:before {
	content: "\e133";
}
.icon-folder-3:before {
	content: "\e134";
}
.icon-archive:before {
	content: "\e135";
}
.icon-trashcan:before {
	content: "\e136";
}
.icon-upload-3:before {
	content: "\e137";
}
.icon-download-2:before {
	content: "\e138";
}
.icon-install:before {
	content: "\e139";
}
.icon-cloud-3:before {
	content: "\e13a";
}
.icon-upload-4:before {
	content: "\e13b";
}
.icon-play-2:before {
	content: "\e13c";
}
.icon-pause:before {
	content: "\e13d";
}
.icon-record:before {
	content: "\e13e";
}
.icon-stop:before {
	content: "\e13f";
}
.icon-fast-forward:before {
	content: "\e140";
}
.icon-fast-backward:before {
	content: "\e141";
}
.icon-first:before {
	content: "\e142";
}
.icon-last:before {
	content: "\e143";
}
.icon-full-screen:before {
	content: "\e144";
}
.icon-collapse:before {
	content: "\e145";
}
.icon-volume:before {
	content: "\e146";
}
.icon-sound:before {
	content: "\e147";
}
.icon-mute:before {
	content: "\e148";
}
.icon-arrow-2:before {
	content: "\e149";
}
.icon-arrow-3:before {
	content: "\e14a";
}
.icon-arrow-4:before {
	content: "\e14b";
}
.icon-arrow-5:before {
	content: "\e14c";
}
.icon-arrow-6:before {
	content: "\e14d";
}
.icon-arrow-7:before {
	content: "\e14e";
}
.icon-arrow-8:before {
	content: "\e14f";
}
.icon-arrow-9:before {
	content: "\e150";
}
.icon-arrow-10:before {
	content: "\e151";
}
.icon-arrow-11:before {
	content: "\e152";
}
.icon-arrow-12:before {
	content: "\e153";
}
.icon-arrow-13:before {
	content: "\e154";
}
.icon-arrow-14:before {
	content: "\e155";
}
.icon-arrow-15:before {
	content: "\e156";
}
.icon-arrow-16:before {
	content: "\e157";
}
.icon-arrow-17:before {
	content: "\e158";
}
.icon-arrow-18:before {
	content: "\e159";
}
.icon-arrow-19:before {
	content: "\e15a";
}
.icon-arrow-20:before {
	content: "\e15b";
}
.icon-arrow-21:before {
	content: "\e15c";
}
.icon-triangle:before {
	content: "\e15d";
}
.icon-triangle-2:before {
	content: "\e15e";
}
.icon-triangle-3:before {
	content: "\e15f";
}
.icon-triangle-4:before {
	content: "\e160";
}
.icon-code:before {
	content: "\e161";
}
.icon-battery:before {
	content: "\e162";
}
.icon-battery-2:before {
	content: "\e163";
}
.icon-battery-3:before {
	content: "\e164";
}
.icon-battery-4:before {
	content: "\e165";
}
.icon-battery-5:before {
	content: "\e166";
}
.icon-history-2:before {
	content: "\e167";
}
.icon-back-2:before {
	content: "\e168";
}
.icon-sun:before {
	content: "\e169";
}
.icon-sun-2:before {
	content: "\e16a";
}
.icon-light-bulb:before {
	content: "\e16b";
}
.icon-browser:before {
	content: "\e16c";
}
.icon-publish:before {
	content: "\e16d";
}
.icon-screen-2:before {
	content: "\e16e";
}
.icon-arrow-22:before {
	content: "\e16f";
}
.icon-broadcast-2:before {
	content: "\e170";
}
.icon-globe:before {
	content: "\e171";
}
.icon-square:before {
	content: "\e172";
}
.icon-inbox:before {
	content: "\e173";
}
.icon-network:before {
	content: "\e174";
}
.icon-feather:before {
	content: "\e175";
}
.icon-keyboard:before {
	content: "\e176";
}
.icon-home-4:before {
	content: "\e177";
}
.icon-bookmark-3:before {
	content: "\e178";
}
.icon-book-2:before {
	content: "\e179";
}
.icon-popup:before {
	content: "\e17a";
}
.icon-search-4:before {
	content: "\e17b";
}
.icon-dots-three:before {
	content: "\e17c";
}
.icon-dots-two:before {
	content: "\e17d";
}
.icon-dot:before {
	content: "\e17e";
}
.icon-creative-commons:before {
	content: "\e17f";
}
.icon-cd:before {
	content: "\e180";
}
.icon-suitcase:before {
	content: "\e181";
}
.icon-suitcase-2:before {
	content: "\e182";
}
.icon-home-5:before {
	content: "\e183";
}
.icon-list-2:before {
	content: "\e184";
}
.icon-book-3:before {
	content: "\e185";
}
.icon-pencil-3:before {
	content: "\e186";
}
.icon-bookmark-4:before {
	content: "\e187";
}
.icon-pointer:before {
	content: "\e188";
}
.icon-cloud-4:before {
	content: "\e189";
}
.icon-cloud-ul:before {
	content: "\e18a";
}
.icon-cloud-dl:before {
	content: "\e18b";
}
.icon-search-5:before {
	content: "\e18c";
}
.icon-folder-4:before {
	content: "\e18d";
}
.icon-trashcan-2:before {
	content: "\e18e";
}
.icon-droplet-2:before {
	content: "\e18f";
}
.icon-tag-2:before {
	content: "\e190";
}
.icon-moon:before {
	content: "\e191";
}
.icon-eye-4:before {
	content: "\e192";
}
.icon-target-3:before {
	content: "\e193";
}
.icon-blocked-3:before {
	content: "\e194";
}
.icon-switch:before {
	content: "\e195";
}
.icon-goal:before {
	content: "\e196";
}
.icon-location-3:before {
	content: "\e197";
}
.icon-close-2:before {
	content: "\e198";
}
.icon-checkmark-3:before {
	content: "\e199";
}
.icon-munis:before {
	content: "\e19a";
}
.icon-plus-5:before {
	content: "\e19b";
}
.icon-close-3:before {
	content: "\e19c";
}
.icon-divide:before {
	content: "\e19d";
}
.icon-minus-5:before {
	content: "\e19e";
}
.icon-plus-6:before {
	content: "\e19f";
}
.icon-equals:before {
	content: "\e1a0";
}
.icon-cancel-5:before {
	content: "\e1a1";
}
.icon-minus-6:before {
	content: "\e1a2";
}
.icon-checkmark-4:before {
	content: "\e1a3";
}
.icon-equals-2:before {
	content: "\e1a4";
}
.icon-asterisk:before {
	content: "\e1a5";
}
.icon-mobile-4:before {
	content: "\e1a6";
}
.icon-tablet-2:before {
	content: "\e1a7";
}
.icon-phone-3:before {
	content: "\e1a8";
}
.icon-bars-2:before {
	content: "\e1a9";
}
.icon-stack:before {
	content: "\e1aa";
}
.icon-battery-6:before {
	content: "\e1ab";
}
.icon-battery-7:before {
	content: "\e1ac";
}
.icon-battery-8:before {
	content: "\e1ad";
}
.icon-calculator:before {
	content: "\e1ae";
}
.icon-bolt:before {
	content: "\e1af";
}
.icon-list-3:before {
	content: "\e1b0";
}
.icon-grid-2:before {
	content: "\e1b1";
}
.icon-list-4:before {
	content: "\e1b2";
}
.icon-list-5:before {
	content: "\e1b3";
}
.icon-layout:before {
	content: "\e1b4";
}
.icon-equalizer-2:before {
	content: "\e1b5";
}
.icon-equalizer-3:before {
	content: "\e1b6";
}
.icon-cog-2:before {
	content: "\e1b7";
}
.icon-window:before {
	content: "\e1b8";
}
.icon-window-2:before {
	content: "\e1b9";
}
.icon-window-3:before {
	content: "\e1ba";
}
.icon-window-4:before {
	content: "\e1bb";
}
.icon-locked-3:before {
	content: "\e1bc";
}
.icon-unlocked-3:before {
	content: "\e1bd";
}
.icon-shield:before {
	content: "\e1be";
}
.icon-cart-2:before {
	content: "\e1bf";
}
.icon-console:before {
	content: "\e1c0";
}
.icon-office:before {
	content: "\e1c1";
}
.icon-basket-2:before {
	content: "\e1c2";
}
.icon-suitcase-3:before {
	content: "\e1c3";
}
.icon-airplane:before {
	content: "\e1c4";
}
.icon-file-download:before {
	content: "\e1c5";
}
.icon-file-upload:before {
	content: "\e1c6";
}
.icon-file:before {
	content: "\e1c7";
}
.icon-file-add:before {
	content: "\e1c8";
}
.icon-file-remove:before {
	content: "\e1c9";
}
.icon-bars-3:before {
	content: "\e1ca";
}
.icon-chart:before {
	content: "\e1cb";
}
.icon-stats:before {
	content: "\e1cc";
}
.icon-arrow-right-8:before {
	content: "\e1cd";
}
.icon-arrow-left-8:before {
	content: "\e1ce";
}
.icon-arrow-down-8:before {
	content: "\e1cf";
}
.icon-arrow-up-8:before {
	content: "\e1d0";
}
.icon-arrow-right-9:before {
	content: "\e1d1";
}
.icon-arrow-left-9:before {
	content: "\e1d2";
}
.icon-arrow-up-9:before {
	content: "\e1d3";
}
.icon-arrow-down-9:before {
	content: "\e1d4";
}
.icon-arrow-down-left-4:before {
	content: "\e1d5";
}
.icon-arrow-down-right-4:before {
	content: "\e1d6";
}
.icon-arrow-up-left-4:before {
	content: "\e1d7";
}
.icon-arrow-up-right-4:before {
	content: "\e1d8";
}
.icon-arrow-left-10:before {
	content: "\e1d9";
}
.icon-arrow-right-10:before {
	content: "\e1da";
}
.icon-arrow-down-10:before {
	content: "\e1db";
}
.icon-arrow-up-10:before {
	content: "\e1dc";
}
.icon-move:before {
	content: "\e1dd";
}
.icon-movie-2:before {
	content: "\e1de";
}
.icon-refresh:before {
	content: "\e1df";
}
.icon-picture-3:before {
	content: "\e1e0";
}
.icon-music-3:before {
	content: "\e1e1";
}
.icon-disk:before {
	content: "\e1e2";
}
.icon-camera-4:before {
	content: "\e1e3";
}
.icon-film-2:before {
	content: "\e1e4";
}
.icon-tablet-3:before {
	content: "\e1e5";
}
.icon-ipod:before {
	content: "\e1e6";
}
.icon-camera-5:before {
	content: "\e1e7";
}
.icon-mouse-3:before {
	content: "\e1e8";
}
.icon-volume-2:before {
	content: "\e1e9";
}
.icon-monitor:before {
	content: "\e1ea";
}
.icon-thumbs-up-3:before {
	content: "\e1eb";
}
.icon-thumbs-down-2:before {
	content: "\e1ec";
}
.icon-neutral-2:before {
	content: "\e1ed";
}
.icon-grin:before {
	content: "\e1ee";
}
.icon-heart-5:before {
	content: "\e1ef";
}
.icon-pacman:before {
	content: "\e1f0";
}
.icon-star-6:before {
	content: "\e1f1";
}
.icon-star-7:before {
	content: "\e1f2";
}
.icon-envelope:before {
	content: "\e1f3";
}
.icon-comment-2:before {
	content: "\e1f4";
}
.icon-comment-3:before {
	content: "\e1f5";
}
.icon-user-5:before {
	content: "\e1f6";
}
.icon-download-3:before {
	content: "\e1f7";
}
.icon-upload-5:before {
	content: "\e1f8";
}
.icon-inbox-2:before {
	content: "\e1f9";
}
.icon-partial:before {
	content: "\e1fa";
}
.icon-unchecked:before {
	content: "\e1fb";
}
.icon-checked:before {
	content: "\e1fc";
}
.icon-circles:before {
	content: "\e1fd";
}
.icon-pencil-4:before {
	content: "\e1fe";
}
.icon-flag-5:before {
	content: "\e1ff";
}
.icon-link-4:before {
	content: "\e200";
}
.icon-stop-2:before {
	content: "\e201";
}
.icon-play-3:before {
	content: "\e202";
}
.icon-pause-2:before {
	content: "\e203";
}
.icon-next:before {
	content: "\e204";
}
.icon-previous:before {
	content: "\e205";
}
.icon-drink:before {
	content: "\e206";
}
.icon-drink-2:before {
	content: "\e207";
}
.icon-hamburger:before {
	content: "\e208";
}
.icon-mug:before {
	content: "\e209";
}
.icon-calendar-3:before {
	content: "\e20a";
}
.icon-clock-3:before {
	content: "\e20b";
}
.icon-calendar-4:before {
	content: "\e20c";
}
.icon-compass-3:before {
	content: "\e20d";
}
.icon-warning-2:before {
	content: "\e20e";
}
.icon-cloud-5:before {
	content: "\e20f";
}
.icon-locked-4:before {
	content: "\e210";
}
.icon-inbox-3:before {
	content: "\e211";
}
.icon-comment-4:before {
	content: "\e212";
}
.icon-mic:before {
	content: "\e213";
}
.icon-envelope-2:before {
	content: "\e214";
}
.icon-briefcase-3:before {
	content: "\e215";
}
.icon-cart-3:before {
	content: "\e216";
}
.icon-contrast:before {
	content: "\e217";
}
.icon-clock-4:before {
	content: "\e218";
}
.icon-user-6:before {
	content: "\e219";
}
.icon-cog-3:before {
	content: "\e21a";
}
.icon-music-4:before {
	content: "\e21b";
}
.icon-twitter-4:before {
	content: "\e21c";
}
.icon-pencil-5:before {
	content: "\e21d";
}
.icon-frame:before {
	content: "\e21e";
}
.icon-switch-2:before {
	content: "\e21f";
}
.icon-star-8:before {
	content: "\e220";
}
.icon-key-3:before {
	content: "\e221";
}
.icon-chart-2:before {
	content: "\e222";
}
.icon-apple-2:before {
	content: "\e223";
}
.icon-file-2:before {
	content: "\e224";
}
.icon-plus-7:before {
	content: "\e225";
}
.icon-minus-7:before {
	content: "\e226";
}
.icon-picture-4:before {
	content: "\e227";
}
.icon-folder-5:before {
	content: "\e228";
}
.icon-camera-6:before {
	content: "\e229";
}
.icon-search-6:before {
	content: "\e22a";
}
.icon-dribbble-4:before {
	content: "\e22b";
}
.icon-forrst-3:before {
	content: "\e22c";
}
.icon-feed-4:before {
	content: "\e22d";
}
.icon-blocked-4:before {
	content: "\e22e";
}
.icon-target-4:before {
	content: "\e22f";
}
.icon-play-4:before {
	content: "\e230";
}
.icon-pause-3:before {
	content: "\e231";
}
.icon-bug:before {
	content: "\e232";
}
.icon-console-2:before {
	content: "\e233";
}
.icon-film-3:before {
	content: "\e234";
}
.icon-type:before {
	content: "\e235";
}
.icon-home-6:before {
	content: "\e236";
}
.icon-earth:before {
	content: "\e237";
}
.icon-location-4:before {
	content: "\e238";
}
.icon-info-3:before {
	content: "\e239";
}
.icon-eye-5:before {
	content: "\e23a";
}
.icon-heart-6:before {
	content: "\e23b";
}
.icon-bookmark-5:before {
	content: "\e23c";
}
.icon-wrench-2:before {
	content: "\e23d";
}
.icon-calendar-5:before {
	content: "\e23e";
}
.icon-window-5:before {
	content: "\e23f";
}
.icon-monitor-2:before {
	content: "\e240";
}
.icon-mobile-5:before {
	content: "\e241";
}
.icon-droplet-3:before {
	content: "\e242";
}
.icon-mouse-4:before {
	content: "\e243";
}
.icon-refresh-2:before {
	content: "\e244";
}
.icon-location-5:before {
	content: "\e245";
}
.icon-tag-3:before {
	content: "\e246";
}
.icon-phone-4:before {
	content: "\e247";
}
.icon-star-9:before {
	content: "\e248";
}
.icon-pointer-2:before {
	content: "\e249";
}
.icon-thumbs-up-4:before {
	content: "\e24a";
}
.icon-thumbs-down-3:before {
	content: "\e24b";
}
.icon-headphones:before {
	content: "\e24c";
}
.icon-move-2:before {
	content: "\e24d";
}
.icon-checkmark-5:before {
	content: "\e24e";
}
.icon-cancel-6:before {
	content: "\e24f";
}
.icon-skype-2:before {
	content: "\e250";
}
.icon-gift-2:before {
	content: "\e251";
}
.icon-cone:before {
	content: "\e252";
}
.icon-alarm:before {
	content: "\e253";
}
.icon-coffee-2:before {
	content: "\e254";
}
.icon-basket-3:before {
	content: "\e255";
}
.icon-flag-6:before {
	content: "\e256";
}
.icon-ipod-2:before {
	content: "\e257";
}
.icon-trashcan-3:before {
	content: "\e258";
}
.icon-bolt-2:before {
	content: "\e259";
}
.icon-ampersand:before {
	content: "\e25a";
}
.icon-compass-4:before {
	content: "\e25b";
}
.icon-list-6:before {
	content: "\e25c";
}
.icon-grid-3:before {
	content: "\e25d";
}
.icon-volume-3:before {
	content: "\e25e";
}
.icon-volume-4:before {
	content: "\e25f";
}
.icon-stats-2:before {
	content: "\e260";
}
.icon-target-5:before {
	content: "\e261";
}
.icon-forward-3:before {
	content: "\e262";
}
.icon-paperclip:before {
	content: "\e263";
}
.icon-keyboard-2:before {
	content: "\e264";
}
.icon-crop:before {
	content: "\e265";
}
.icon-floppy:before {
	content: "\e266";
}
.icon-filter:before {
	content: "\e267";
}
.icon-trophy-3:before {
	content: "\e268";
}
.icon-diary:before {
	content: "\e269";
}
.icon-address-book:before {
	content: "\e26a";
}
.icon-stop-3:before {
	content: "\e26b";
}
.icon-circle:before {
	content: "\e26c";
}
.icon-shit:before {
	content: "\e26d";
}
.icon-bookmark-6:before {
	content: "\e26e";
}
.icon-camera-7:before {
	content: "\e26f";
}
.icon-lamp:before {
	content: "\e270";
}
.icon-disk-2:before {
	content: "\e271";
}
.icon-button:before {
	content: "\e272";
}
.icon-database-2:before {
	content: "\e273";
}
.icon-credit-card:before {
	content: "\e274";
}
.icon-atom:before {
	content: "\e275";
}
.icon-winsows:before {
	content: "\e276";
}
.icon-target-6:before {
	content: "\e277";
}
.icon-battery-9:before {
	content: "\e278";
}
.icon-code-2:before {
	content: "\e279";
}
.icon-sunrise:before {
	content: "\e27a";
}
.icon-sun-3:before {
	content: "\e27b";
}
.icon-moon-2:before {
	content: "\e27c";
}
.icon-sun-4:before {
	content: "\e27d";
}
.icon-windy:before {
	content: "\e27e";
}
.icon-wind:before {
	content: "\e27f";
}
.icon-snowflake:before {
	content: "\e280";
}
.icon-cloudy:before {
	content: "\e281";
}
.icon-cloud-6:before {
	content: "\e282";
}
.icon-weather:before {
	content: "\e283";
}
.icon-weather-2:before {
	content: "\e284";
}
.icon-weather-3:before {
	content: "\e285";
}
.icon-lines:before {
	content: "\e286";
}
.icon-cloud-7:before {
	content: "\e287";
}
.icon-lightning-2:before {
	content: "\e288";
}
.icon-lightning-3:before {
	content: "\e289";
}
.icon-rainy:before {
	content: "\e28a";
}
.icon-rainy-2:before {
	content: "\e28b";
}
.icon-windy-2:before {
	content: "\e28c";
}
.icon-windy-3:before {
	content: "\e28d";
}
.icon-snowy:before {
	content: "\e28e";
}
.icon-snowy-2:before {
	content: "\e28f";
}
.icon-snowy-3:before {
	content: "\e290";
}
.icon-weather-4:before {
	content: "\e291";
}
.icon-cloudy-2:before {
	content: "\e292";
}
.icon-cloud-8:before {
	content: "\e293";
}
.icon-lightning-4:before {
	content: "\e294";
}
.icon-sun-5:before {
	content: "\e295";
}
.icon-moon-3:before {
	content: "\e296";
}
.icon-cloudy-3:before {
	content: "\e297";
}
.icon-cloud-9:before {
	content: "\e298";
}
.icon-cloud-10:before {
	content: "\e299";
}
.icon-lightning-5:before {
	content: "\e29a";
}
.icon-rainy-3:before {
	content: "\e29b";
}
.icon-rainy-4:before {
	content: "\e29c";
}
.icon-windy-4:before {
	content: "\e29d";
}
.icon-windy-5:before {
	content: "\e29e";
}
.icon-snowy-4:before {
	content: "\e29f";
}
.icon-snowy-5:before {
	content: "\e2a0";
}
.icon-weather-5:before {
	content: "\e2a1";
}
.icon-cloudy-4:before {
	content: "\e2a2";
}
.icon-lightning-6:before {
	content: "\e2a3";
}
.icon-thermometer:before {
	content: "\e2a4";
}
.icon-compass-5:before {
	content: "\e2a5";
}
.icon-none:before {
	content: "\e2a6";
}
.icon-Celsius:before {
	content: "\e2a7";
}
.icon-Fahrenheit:before {
	content: "\e2a8";
}
.icon-chat-2:before {
	content: "\e2a9";
}
.icon-chat-alt-stroke:before {
	content: "\e2aa";
}
.icon-chat-alt-fill:before {
	content: "\e2ab";
}
.icon-comment-alt1-stroke:before {
	content: "\e2ac";
}
.icon-comment-alt1-fill:before {
	content: "\e2ad";
}
.icon-comment-stroke:before {
	content: "\e2ae";
}
.icon-comment-fill:before {
	content: "\e2af";
}
.icon-comment-alt2-stroke:before {
	content: "\e2b0";
}
.icon-comment-alt2-fill:before {
	content: "\e2b1";
}
.icon-checkmark-6:before {
	content: "\e2b2";
}
.icon-check-alt:before {
	content: "\e2b3";
}
.icon-x:before {
	content: "\e2b4";
}
.icon-x-altx-alt:before {
	content: "\e2b5";
}
.icon-denied:before {
	content: "\e2b6";
}
.icon-cursor:before {
	content: "\e2b7";
}
.icon-rss-2:before {
	content: "\e2b8";
}
.icon-rss-alt:before {
	content: "\e2b9";
}
.icon-wrench-3:before {
	content: "\e2ba";
}
.icon-dial:before {
	content: "\e2bb";
}
.icon-cog-4:before {
	content: "\e2bc";
}
.icon-calendar-6:before {
	content: "\e2bd";
}
.icon-calendar-alt-stroke:before {
	content: "\e2be";
}
.icon-calendar-alt-fill:before {
	content: "\e2bf";
}
.icon-share-4:before {
	content: "\e2c0";
}
.icon-mail-4:before {
	content: "\e2c1";
}
.icon-heart-stroke:before {
	content: "\e2c2";
}
.icon-heart-fill:before {
	content: "\e2c3";
}
.icon-movie-3:before {
	content: "\e2c4";
}
.icon-document-alt-stroke:before {
	content: "\e2c5";
}
.icon-document-alt-fill:before {
	content: "\e2c6";
}
.icon-document-stroke:before {
	content: "\e2c7";
}
.icon-document-fill:before {
	content: "\e2c8";
}
.icon-plus-8:before {
	content: "\e2c9";
}
.icon-plus-alt:before {
	content: "\e2ca";
}
.icon-minus-8:before {
	content: "\e2cb";
}
.icon-minus-alt:before {
	content: "\e2cc";
}
.icon-pin:before {
	content: "\e2cd";
}
.icon-link-5:before {
	content: "\e2ce";
}
.icon-bolt-3:before {
	content: "\e2cf";
}
.icon-move-3:before {
	content: "\e2d0";
}
.icon-move-alt1:before {
	content: "\e2d1";
}
.icon-move-alt2:before {
	content: "\e2d2";
}
.icon-equalizer-4:before {
	content: "\e2d3";
}
.icon-award-fill:before {
	content: "\e2d4";
}
.icon-award-stroke:before {
	content: "\e2d5";
}
.icon-magnifying-glass:before {
	content: "\e2d6";
}
.icon-trash-stroke:before {
	content: "\e2d7";
}
.icon-trash-fill:before {
	content: "\e2d8";
}
.icon-beaker-alt:before {
	content: "\e2d9";
}
.icon-beaker:before {
	content: "\e2da";
}
.icon-key-stroke:before {
	content: "\e2db";
}
.icon-key-fill:before {
	content: "\e2dc";
}
.icon-new-window:before {
	content: "\e2dd";
}
.icon-lightbulb:before {
	content: "\e2de";
}
.icon-spin-alt:before {
	content: "\e2df";
}
.icon-spin:before {
	content: "\e2e0";
}
.icon-curved-arrow:before {
	content: "\e2e1";
}
.icon-undo-2:before {
	content: "\e2e2";
}
.icon-reload:before {
	content: "\e2e3";
}
.icon-reload-alt:before {
	content: "\e2e4";
}
.icon-loop-2:before {
	content: "\e2e5";
}
.icon-loop-alt1:before {
	content: "\e2e6";
}
.icon-loop-alt2:before {
	content: "\e2e7";
}
.icon-loop-alt3:before {
	content: "\e2e8";
}
.icon-loop-alt4:before {
	content: "\e2e9";
}
.icon-transfer:before {
	content: "\e2ea";
}
.icon-move-vertical:before {
	content: "\e2eb";
}
.icon-move-vertical-alt1:before {
	content: "\e2ec";
}
.icon-move-vertical-alt2:before {
	content: "\e2ed";
}
.icon-move-horizontal:before {
	content: "\e2ee";
}
.icon-move-horizontal-alt1:before {
	content: "\e2ef";
}
.icon-move-horizontal-alt2:before {
	content: "\e2f0";
}
.icon-arrow-left-11:before {
	content: "\e2f1";
}
.icon-arrow-left-alt1:before {
	content: "\e2f2";
}
.icon-arrow-left-alt2:before {
	content: "\e2f3";
}
.icon-arrow-right-11:before {
	content: "\e2f4";
}
.icon-arrow-right-alt1:before {
	content: "\e2f5";
}
.icon-arrow-right-alt2:before {
	content: "\e2f6";
}
.icon-arrow-up-11:before {
	content: "\e2f7";
}
.icon-arrow-up-alt1:before {
	content: "\e2f8";
}
.icon-arrow-up-alt2:before {
	content: "\e2f9";
}
.icon-arrow-down-11:before {
	content: "\e2fa";
}
.icon-arrow-down-alt1:before {
	content: "\e2fb";
}
.icon-arrow-down-alt2:before {
	content: "\e2fc";
}
.icon-cd-2:before {
	content: "\e2fd";
}
.icon-steering-wheel:before {
	content: "\e2fe";
}
.icon-microphone-3:before {
	content: "\e2ff";
}
.icon-headphones-2:before {
	content: "\e300";
}
.icon-volume-5:before {
	content: "\e301";
}
.icon-volume-mute:before {
	content: "\e302";
}
.icon-play-5:before {
	content: "\e303";
}
.icon-pause-4:before {
	content: "\e304";
}
.icon-stop-4:before {
	content: "\e305";
}
.icon-eject:before {
	content: "\e306";
}
.icon-first-2:before {
	content: "\e307";
}
.icon-last-2:before {
	content: "\e308";
}
.icon-play-alt:before {
	content: "\e309";
}
.icon-fullscreen-exit:before {
	content: "\e30a";
}
.icon-fullscreen-exit-alt:before {
	content: "\e30b";
}
.icon-fullscreen:before {
	content: "\e30c";
}
.icon-fullscreen-alt:before {
	content: "\e30d";
}
.icon-iphone:before {
	content: "\e30e";
}
.icon-battery-empty:before {
	content: "\e30f";
}
.icon-battery-half:before {
	content: "\e310";
}
.icon-battery-full:before {
	content: "\e311";
}
.icon-battery-charging:before {
	content: "\e312";
}
.icon-compass-6:before {
	content: "\e313";
}
.icon-box:before {
	content: "\e314";
}
.icon-folder-stroke:before {
	content: "\e315";
}
.icon-folder-fill:before {
	content: "\e316";
}
.icon-at:before {
	content: "\e317";
}
.icon-ampersand-2:before {
	content: "\e318";
}
.icon-info-4:before {
	content: "\e319";
}
.icon-question-mark:before {
	content: "\e31a";
}
.icon-pilcrow:before {
	content: "\e31b";
}
.icon-hash:before {
	content: "\e31c";
}
.icon-left-quote:before {
	content: "\e31d";
}
.icon-right-quote:before {
	content: "\e31e";
}
.icon-left-quote-alt:before {
	content: "\e31f";
}
.icon-right-quote-alt:before {
	content: "\e320";
}
.icon-article:before {
	content: "\e321";
}
.icon-read-more:before {
	content: "\e322";
}
.icon-list-7:before {
	content: "\e323";
}
.icon-list-nested:before {
	content: "\e324";
}
.icon-book-4:before {
	content: "\e325";
}
.icon-book-alt:before {
	content: "\e326";
}
.icon-book-alt2:before {
	content: "\e327";
}
.icon-pen:before {
	content: "\e328";
}
.icon-pen-alt-stroke:before {
	content: "\e329";
}
.icon-pen-alt-fill:before {
	content: "\e32a";
}
.icon-pen-alt2:before {
	content: "\e32b";
}
.icon-brush:before {
	content: "\e32c";
}
.icon-brush-alt:before {
	content: "\e32d";
}
.icon-eyedropper:before {
	content: "\e32e";
}
.icon-layers-alt:before {
	content: "\e32f";
}
.icon-layers:before {
	content: "\e330";
}
.icon-image:before {
	content: "\e331";
}
.icon-camera-8:before {
	content: "\e332";
}
.icon-aperture:before {
	content: "\e333";
}
.icon-aperture-alt:before {
	content: "\e334";
}
.icon-chart-3:before {
	content: "\e335";
}
.icon-chart-alt:before {
	content: "\e336";
}
.icon-bars-4:before {
	content: "\e337";
}
.icon-bars-alt:before {
	content: "\e338";
}
.icon-eye-6:before {
	content: "\e339";
}
.icon-user-7:before {
	content: "\e33a";
}
.icon-home-7:before {
	content: "\e33b";
}
.icon-clock-5:before {
	content: "\e33c";
}
.icon-lock-stroke:before {
	content: "\e33d";
}
.icon-lock-fill:before {
	content: "\e33e";
}
.icon-unlock-stroke:before {
	content: "\e33f";
}
.icon-unlock-fill:before {
	content: "\e340";
}
.icon-tag-stroke:before {
	content: "\e341";
}
.icon-tag-fill:before {
	content: "\e342";
}
.icon-sun-stroke:before {
	content: "\e343";
}
.icon-sun-fill:before {
	content: "\e344";
}
.icon-moon-stroke:before {
	content: "\e345";
}
.icon-moon-fill:before {
	content: "\e346";
}
.icon-cloud-11:before {
	content: "\e347";
}
.icon-rain:before {
	content: "\e348";
}
.icon-umbrella:before {
	content: "\e349";
}
.icon-star-10:before {
	content: "\e34a";
}
.icon-map-pin-stroke:before {
	content: "\e34b";
}
.icon-map-pin-fill:before {
	content: "\e34c";
}
.icon-map-pin-alt:before {
	content: "\e34d";
}
.icon-target-7:before {
	content: "\e34e";
}
.icon-download-4:before {
	content: "\e34f";
}
.icon-upload-6:before {
	content: "\e350";
}
.icon-cloud-download:before {
	content: "\e351";
}
.icon-cloud-upload:before {
	content: "\e352";
}
.icon-fork:before {
	content: "\e353";
}
.icon-paperclip-2:before {
	content: "\e354";
}
